<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ch.elexis.core.fhir.model.test/src/ch/elexis/core/fhir/model/test/AllPluginTests.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.elexis.core.fhir.model.test.AllPluginTests"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch.elexis.core.fhir.model.test"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Delexis.test.mode=true&#10;-Ddisable.web.security=true&#10;-Djetty.http.port=8380&#10;-Dorg.osgi.service.http.port=8380 &#10;-Djetty.home.bundle=org.eclipse.jetty.ee10.osgi.boot&#10;-Dorg.eclipse.jetty.LEVEL=WARN&#10;-DelexisServerUrl=http://localhost:8380/services"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.platform.ide"/>
    <booleanAttribute key="run_in_ui_thread" value="false"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcprov@default:default"/>
        <setEntry value="ch.qos.logback.classic@1:true"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="com.google.gson*2.12.1@default:default"/>
        <setEntry value="com.google.guava.failureaccess@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="com.mysql.cj@default:default"/>
        <setEntry value="com.opencsv@default:default"/>
        <setEntry value="com.sun.xml.bind.jaxb-osgi@default:default"/>
        <setEntry value="info.elexis.target.hapi.fhir@default:default"/>
        <setEntry value="io.curity.oauth-filter@default:default"/>
        <setEntry value="io.swagger.core.v3.swagger-annotations@default:default"/>
        <setEntry value="jakarta.activation-api@default:default"/>
        <setEntry value="jakarta.annotation-api@default:default"/>
        <setEntry value="jakarta.el-api@default:default"/>
        <setEntry value="jakarta.enterprise.cdi-api@default:default"/>
        <setEntry value="jakarta.enterprise.lang-model@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api@default:default"/>
        <setEntry value="jakarta.interceptor-api@default:default"/>
        <setEntry value="jakarta.mail-api@default:default"/>
        <setEntry value="jakarta.persistence-api@default:default"/>
        <setEntry value="jakarta.servlet-api*6.1.0@default:default"/>
        <setEntry value="jakarta.transaction-api@default:default"/>
        <setEntry value="jakarta.validation.jakarta.validation-api@default:default"/>
        <setEntry value="jakarta.websocket-api*2.1.100.SNAPSHOT@default:default"/>
        <setEntry value="jakarta.websocket-client-api@default:default"/>
        <setEntry value="jakarta.ws.rs-api*3.1.99@default:default"/>
        <setEntry value="jakarta.xml.bind-api@default:default"/>
        <setEntry value="javassist@default:default"/>
        <setEntry value="jcl.over.slf4j@default:default"/>
        <setEntry value="jul.to.slf4j@default:default"/>
        <setEntry value="org.apache-extras.beanshell.bsh@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@1:true"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.commons-beanutils@default:default"/>
        <setEntry value="org.apache.commons.commons-codec*1.17.0@default:default"/>
        <setEntry value="org.apache.commons.commons-collections4@default:default"/>
        <setEntry value="org.apache.commons.commons-compress*1.27.1@default:default"/>
        <setEntry value="org.apache.commons.commons-dbcp2@default:default"/>
        <setEntry value="org.apache.commons.commons-io*2.18.0@default:default"/>
        <setEntry value="org.apache.commons.commons-pool2@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.text@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.httpcomponents.client5.httpclient5@default:default"/>
        <setEntry value="org.apache.httpcomponents.core5.httpcore5-h2@default:default"/>
        <setEntry value="org.apache.httpcomponents.core5.httpcore5@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.eclipse.angus.jakarta.mail@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.databinding@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.event@default:true"/>
        <setEntry value="org.eclipse.equinox.http.service.api@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.jdt.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.jdt.junit4.runtime@default:default"/>
        <setEntry value="org.eclipse.jetty.alpn.client@default:default"/>
        <setEntry value="org.eclipse.jetty.client@default:default"/>
        <setEntry value="org.eclipse.jetty.deploy@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.annotations@3:true"/>
        <setEntry value="org.eclipse.jetty.ee10.osgi.alpn.fragment@default:false"/>
        <setEntry value="org.eclipse.jetty.ee10.osgi.boot@2:true"/>
        <setEntry value="org.eclipse.jetty.ee10.plus@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.servlets@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.webapp@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.websocket.jakarta.client@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.websocket.jakarta.common@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.websocket.jakarta.server@2:true"/>
        <setEntry value="org.eclipse.jetty.ee10.websocket.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.ee@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.jndi@default:default"/>
        <setEntry value="org.eclipse.jetty.osgi@2:true"/>
        <setEntry value="org.eclipse.jetty.plus@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet-api@default:default"/>
        <setEntry value="org.eclipse.jetty.session@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.api@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.client@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.common@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.core.client@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.core.common@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.core.server@default:default"/>
        <setEntry value="org.eclipse.jetty.xml@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.eclipse.pde.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.persistence.asm@default:default"/>
        <setEntry value="org.eclipse.persistence.core@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa.jpql@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa@2:true"/>
        <setEntry value="org.glassfish.hk2.api@default:default"/>
        <setEntry value="org.glassfish.hk2.external.aopalliance-repackaged@default:default"/>
        <setEntry value="org.glassfish.hk2.locator@default:default"/>
        <setEntry value="org.glassfish.hk2.osgi-resource-locator@default:default"/>
        <setEntry value="org.glassfish.hk2.utils@default:default"/>
        <setEntry value="org.glassfish.jersey.containers.jersey-container-servlet-core@default:default"/>
        <setEntry value="org.glassfish.jersey.containers.jersey-container-servlet@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-client*3.1.10@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-client*3.1.99.SNAPSHOT@default:true"/>
        <setEntry value="org.glassfish.jersey.core.jersey-common*3.1.10@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-common*3.1.99.SNAPSHOT@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-server@default:default"/>
        <setEntry value="org.glassfish.jersey.ext.jersey-proxy-client@default:default"/>
        <setEntry value="org.glassfish.jersey.inject.jersey-hk2@default:default"/>
        <setEntry value="org.glassfish.jersey.media.jersey-media-jaxb@default:default"/>
        <setEntry value="org.glassfish.jersey.media.jersey-media-json-gson@default:default"/>
        <setEntry value="org.glassfish.jersey.media.jersey-media-multipart@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.hamcrest.library@default:default"/>
        <setEntry value="org.hamcrest@default:default"/>
        <setEntry value="org.jdom.2@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.jvnet.mimepull@default:default"/>
        <setEntry value="org.objectweb.asm*9.7.1@default:default"/>
        <setEntry value="org.objectweb.asm.commons*9.7.1@default:default"/>
        <setEntry value="org.objectweb.asm.tree*9.7.1@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component.annotations@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.http.whiteboard@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.postgresql.jdbc@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="slf4j.osgi@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="at.medevit.ch.artikelstamm@default:default"/>
        <setEntry value="ch.elexis.core.fhir.model.test@default:false"/>
        <setEntry value="ch.elexis.core.fhir.model@default:default"/>
        <setEntry value="ch.elexis.core.findings.fhir.model@default:default"/>
        <setEntry value="ch.elexis.core.findings.util@default:default"/>
        <setEntry value="ch.elexis.core.findings@default:default"/>
        <setEntry value="ch.elexis.core.jcifs.test@default:false"/>
        <setEntry value="ch.elexis.core.jcifs@default:default"/>
        <setEntry value="ch.elexis.core.jpa.datasource@3:true"/>
        <setEntry value="ch.elexis.core.jpa.entities.test@default:false"/>
        <setEntry value="ch.elexis.core.jpa.entities@default:default"/>
        <setEntry value="ch.elexis.core.jpa.logging.slf4j@default:false"/>
        <setEntry value="ch.elexis.core.jpa.test@default:false"/>
        <setEntry value="ch.elexis.core.jpa@default:true"/>
        <setEntry value="ch.elexis.core.l10n@default:default"/>
        <setEntry value="ch.elexis.core.logging.default_configuration@default:false"/>
        <setEntry value="ch.elexis.core.model@default:true"/>
        <setEntry value="ch.elexis.core.services@default:default"/>
        <setEntry value="ch.elexis.core.test.logging@default:false"/>
        <setEntry value="ch.elexis.core.test@default:default"/>
        <setEntry value="ch.elexis.core.text.docx@default:default"/>
        <setEntry value="ch.elexis.core.webdav@default:default"/>
        <setEntry value="ch.elexis.core@default:default"/>
        <setEntry value="ch.elexis.omnivore.model@default:default"/>
        <setEntry value="ch.elexis.omnivore@default:default"/>
        <setEntry value="ch.rgw.utility.tests@default:false"/>
        <setEntry value="ch.rgw.utility@default:default"/>
        <setEntry value="es.gogo.shell@default:false"/>
        <setEntry value="info.elexis.jaxrs.service@default:true"/>
        <setEntry value="info.elexis.server.core.common@default:default"/>
        <setEntry value="info.elexis.server.core.connector.elexis.test@default:false"/>
        <setEntry value="info.elexis.server.core.connector.elexis@default:default"/>
        <setEntry value="info.elexis.server.core.logging@default:false"/>
        <setEntry value="info.elexis.server.core@default:true"/>
        <setEntry value="info.elexis.server.fhir.rest.core.test@default:false"/>
        <setEntry value="info.elexis.server.fhir.rest.core@default:default"/>
        <setEntry value="info.elexis.server.findings.fhir.jpa.service@default:default"/>
        <setEntry value="io.curity.oauth.filter.testcert@default:false"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
