<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.elexis.core.ui.Verrechnungscode">
      <Artikel
            CodeDetailDisplay="ch.elexis.core.ui.eigenartikel.EigenartikelDetailDisplay"
            CodeSelectorFactory="ch.elexis.core.ui.eigenartikel.EigenartikelSelector"
            elexisClassName="ch.elexis.core.eigenartikel.Eigenartikel"
            name="Eigenartikel"
            statistics="ch.elexis.core.eigenartikel.Eigenartikel"
            system="Eigenartikel">
      </Artikel>
   </extension>
   <extension
         point="ch.elexis.core.data.ACLContribution">
      <ACLContribution
            ACLContributor="ch.elexis.core.ui.eigenartikel.acl.ACLContributor"
            name="ch.elexis.core.ui.eigenartikel.acl.ACLContributor">
      </ACLContribution>
   </extension>
</plugin>
