<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://ch.elexis.core.findings.templates"
            class="ch.elexis.core.findings.templates.model.ModelPackage"
            genModel="model/model.genmodel"/>
   </extension>

</plugin>
