<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="coreOperation" name="coreOperation" schema="schema/coreOperation.exsd"/>
	<extension-point id="OutputLogDescriptor" name="Output Log Descriptor" schema="schema/OutputLogDescriptor.exsd"/>
	<extension-point id="ACLContribution" name="Definition of ACLs" schema="schema/ACLContribution.exsd"/>
	<extension-point id="PersistentReference" name="%elexis.persistency" schema="schema/PersistentReference.exsd"/>
	<extension-point id="RechnungsManager" name="%elexis.accounting" schema="schema/RechnungsManager.exsd"/>
	<extension-point id="DataAccess" name="DataAccess" schema="schema/DataAccess.exsd"/>
	<extension-point id="VerrechnungscodeAdjuster" name="VerrechnungscodeAdjuster" schema="schema/VerrechnungscodeAdjuster.exsd"/>
	<extension-point id="ServiceRegistry" name="ServiceRegistry" schema="schema/ServiceRegistry.exsd"/>
    <extension-point id="scripting" name="Script Interpreter" schema="schema/scripting.exsd"/>
    <extension-point id="referenceDataImporter" name="ReferenceDataImporter" schema="schema/referenceDataImporter.exsd"/>
	 <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ch.elexis.core.data.propertyTester.ACETester"
            id="ch.elexis.commands.propertyTester.ACETester"
            namespace="ch.elexis.commands.propertyTester"
            properties="ACE"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="ch.elexis.core.data.propertyTester.ContactIsDeleted"
            id="ch.elexis.commands.propertyTester.ContactIsDeleted"
            namespace="ch.elexis.commands.propertyTester.contact"
            properties="isDeleted"
            type="ch.elexis.core.model.IContact">
      </propertyTester>
      <propertyTester
            class="ch.elexis.core.data.propertyTester.ElexisPropertyTester"
            id="ch.elexis.commands.propertyTester.ElexisPropertyTester"
            namespace="ch.elexis.commands.elexisPropertyTester"
            properties="STANDALONE"
            type="java.lang.Object">
      </propertyTester>
   </extension>
  <extension
        point="ch.elexis.core.data.ACLContribution">
     <ACLContribution
           ACLContributor="ch.elexis.admin.ACLContributor"
           name="Elexis.ACLContribution">
     </ACLContribution>
  </extension>
  <extension
        point="ch.elexis.core.data.DataAccess">
     <DataAccess
           class="ch.elexis.core.data.util.AllDataAccessor"
           name="Alle">
     </DataAccess>
     <DataAccess
           class="ch.elexis.core.data.util.FallDataAccessor"
           name="Fall">
     </DataAccess>
     <DataAccess
           class="ch.elexis.core.data.util.PatientDataAccessor"
           name="Patient">
     </DataAccess>
     <TextPlaceHolder
           name="Kostentraeger"
           resolver="ch.elexis.core.data.text.resolver.FallKostentraegerResolver"
           type="ch.elexis.data.Fall">
     </TextPlaceHolder>
     <TextPlaceHolder
           name="Kostenträger"
           resolver="ch.elexis.core.data.text.resolver.FallKostentraegerResolver"
           type="ch.elexis.data.Fall">
     </TextPlaceHolder>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="ch.elexis.core.data.preferences.CorePreferenceInitializer">
     </initializer>
  </extension>
</plugin>
