<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="ide-2023-09-java17">
	<locations>
		<location path="/Users/mdescher/Development/elexis-target/git/elexis-target/target/target/2023-09-java17/eclipse-p2" type="Directory"/>
		<location path="/Users/mdescher/Development/elexis-target/git/elexis-target/target/target/2023-09-java17/maven-p2" type="Directory"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.elexis.info/elexis/target/justj.17"/>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="17.0.5.v20221102-0933"/>
		</location>
	</locations>
</target>