<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Juno for Elexis 3.0" sequenceNumber="32">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.3.v20130125-0826"/>
<unit id="org.eclipse.equinox.executable" version="3.6.0.v20121119-201001-7P7OG2BFLWUl7UnqBnO8V4Of"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20121119-201001-7P7OG2BFLWUl7UnqBnO8V4Of"/>
<unit id="org.eclipse.gyrex.features.addons.jersey.jaxrs.feature.group" version="1.0.0.v20120604-1901"/>
<unit id="org.eclipse.pde.junit.runtime.standalone.feature.group" version="1.1.0.v20121207-183635-7a81FKwFBBqyauz0GKeGkIx3IS70"/>
<unit id="org.eclipse.platform.feature.group" version="3.8.1.v20130118-180812-9jF7oIBFG8eU2pim-VbIlTuQjY0RWWK3x-bv4I"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jcl" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.nop" version="1.7.2.v201212060727"/>
<repository location="http://download.elexis.info/mirror.4.elexis/snapshot"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ag.ion.bion.workbench.office.editor.activation" version="2.0.14"/>
<unit id="ag.ion.bion.workbench.office.editor.activation.nl1" version="2.0.14"/>
<unit id="ag.ion.bion.workbench.office.editor.core" version="2.0.14"/>
<unit id="ag.ion.bion.workbench.office.editor.ui" version="2.0.14"/>
<unit id="ag.ion.bion.workbench.office.editor.ui.nl1" version="2.0.14"/>
<unit id="ag.ion.noa" version="2.2.3"/>
<unit id="ag.ion.noa4e.search" version="2.0.14"/>
<unit id="ag.ion.noa4e.search.nl1" version="2.0.14"/>
<unit id="ag.ion.noa4e.ui" version="2.0.14"/>
<unit id="ag.ion.noa4e.ui.nl1" version="2.0.14"/>
<unit id="antlr" version="2.7.7"/>
<unit id="antlr.source" version="2.7.2"/>
<unit id="antlr.stringtemplate" version="2.2.0"/>
<unit id="bcprov" version="1.46.0"/>
<unit id="bcprov.source" version="1.46.0"/>
<unit id="bouncycastle.bcmail-jdk14" version="138.0.0"/>
<unit id="bouncycastle.bcprov-jdk14" version="138.0.0"/>
<unit id="bsf" version="2.4.0"/>
<unit id="cal10n.api" version="0.7.4"/>
<unit id="cal10n.api.source" version="0.7.4"/>
<unit id="cglib.nodep" version="2.2.2"/>
<unit id="cglib.nodep.source" version="2.2.2"/>
<unit id="ch.qos.logback.classic" version="1.0.7"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7"/>
<unit id="ch.qos.logback.core" version="1.0.7"/>
<unit id="ch.qos.logback.core.source" version="1.0.7"/>
<unit id="com.healthmarketscience.jackcess" version="1.2.13"/>
<unit id="com.healthmarketscience.jackcess.source" version="1.2.13"/>
<unit id="com.ibm.icu.4j" version="2.6.1"/>
<unit id="com.lowagie.itext" version="2.0.8"/>
<unit id="com.lowagie.itext.source" version="2.0.8"/>
<unit id="com.mysql.jdbc" version="5.1.21"/>
<unit id="com.thoughtworks.xstream" version="1.2.2"/>
<unit id="com.thoughtworks.xstream.source" version="1.2.2"/>
<unit id="com.wutka.dtdparser" version="1.21.0"/>
<unit id="commons-collections" version="3.1.0"/>
<unit id="commons-collections.source" version="3.1.0"/>
<unit id="commons-lang" version="2.0.0"/>
<unit id="commons-lang.source" version="2.0.0"/>
<unit id="commons-logging" version="1.1.1"/>
<unit id="commons-logging.source" version="1.1.1"/>
<unit id="de.kupzog.ktable" version="2.2.0"/>
<unit id="dom4j" version="1.6.1"/>
<unit id="dom4j.source" version="1.6.1"/>
<unit id="groovy-all" version="1.5.7"/>
<unit id="groovy-all.source" version="1.5.7"/>
<unit id="jackson-core-lgpl" version="1.0.1"/>
<unit id="jackson-core-lgpl.source" version="1.0.1"/>
<unit id="javassist" version="3.10.0.GA"/>
<unit id="javax.persistence.api" version="1.0.0"/>
<unit id="javax.persistence.api.source" version="1.0.0"/>
<unit id="javax.transaction.jta" version="1.1.0"/>
<unit id="javax.transaction.jta.source" version="1.1.0"/>
<unit id="javax.ws.rs.jsr311-api" version="1.1.1"/>
<unit id="javax.ws.rs.jsr311-api.source" version="1.1.1"/>
<unit id="javax.xml.jaxp-api" version="1.4.2"/>
<unit id="jaxen" version="1.1.1"/>
<unit id="jboss.javassist" version="3.7.0.ga"/>
<unit id="jboss.javassist.source" version="3.7.0.ga"/>
<unit id="jcl.over.slf4j" version="1.6.6"/>
<unit id="jcl.over.slf4j.source" version="1.6.6"/>
<unit id="jdom" version="1.0.0"/>
<unit id="jdom.source" version="1.0.0"/>
<unit id="jline" version="0.9.94"/>
<unit id="jline.source" version="0.9.94"/>
<unit id="jul.to.slf4j" version="1.6.6"/>
<unit id="jul.to.slf4j.source" version="1.6.6"/>
<unit id="junit" version="4.8.2"/>
<unit id="junit.source" version="4.8.2"/>
<unit id="log4j" version="1.2.17"/>
<unit id="log4j.over.slf4j" version="1.6.6"/>
<unit id="log4j.over.slf4j.source" version="1.6.6"/>
<unit id="log4j.source" version="1.2.17"/>
<unit id="net.sf.opencsv" version="1.8.0"/>
<unit id="net.sf.opencsv.source" version="1.8.0"/>
<unit id="ognl" version="2.7.3"/>
<unit id="ognl.source" version="2.7.3"/>
<unit id="org.apache.ant" version="1.7.0"/>
<unit id="org.apache.ant.launcher" version="1.7.0"/>
<unit id="org.apache.ant.source" version="1.7.0"/>
<unit id="org.apache.commons.dbcp" version="1.4.0"/>
<unit id="org.apache.commons.dbcp.source" version="1.4.0"/>
<unit id="org.apache.commons.io" version="2.4.0"/>
<unit id="org.apache.commons.io.source" version="2.4.0"/>
<unit id="org.apache.commons.lang" version="2.6.0"/>
<unit id="org.apache.commons.lang.source" version="2.6.0"/>
<unit id="org.apache.commons.lang3" version="3.1.0"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0"/>
<unit id="org.apache.commons.pool" version="1.6.0"/>
<unit id="org.apache.commons.pool.source" version="1.6.0"/>
<unit id="org.apache.ibatis.sqlmap" version="2.3.0"/>
<unit id="org.apache.poi" version="3.0.2.FINAL"/>
<unit id="org.beanshell.bsh" version="2.0.0.0b4"/>
<unit id="org.freemarker" version="2.3.15"/>
<unit id="org.freemarker.source" version="2.3.15"/>
<unit id="org.h2" version="1.3.170"/>
<unit id="org.h2.source" version="1.3.170"/>
<unit id="org.hibernate.core" version="3.3.2.GA"/>
<unit id="org.hibernate.core.source" version="3.3.2.GA"/>
<unit id="org.javassist" version="3.16.1.GA"/>
<unit id="org.javassist.source" version="3.16.1.GA"/>
<unit id="org.jdom" version="1.1.0"/>
<unit id="org.jdom.source" version="1.1.0"/>
<unit id="org.milyn.commons" version="1.4.0"/>
<unit id="org.milyn.commons.source" version="1.4.0"/>
<unit id="org.milyn.edisax-parser" version="1.4.0"/>
<unit id="org.milyn.edisax-parser.source" version="1.4.0"/>
<unit id="org.milyn.scribe-core" version="1.4.0"/>
<unit id="org.milyn.scribe-core.source" version="1.4.0"/>
<unit id="org.milyn.scribe-hibernate" version="1.4.0"/>
<unit id="org.milyn.scribe-hibernate.source" version="1.4.0"/>
<unit id="org.milyn.scribe-ibatis" version="1.4.0"/>
<unit id="org.milyn.scribe-ibatis.source" version="1.4.0"/>
<unit id="org.milyn.scribe-jpa" version="1.4.0"/>
<unit id="org.milyn.scribe-jpa.source" version="1.4.0"/>
<unit id="org.milyn.smooks-calc" version="1.4.0"/>
<unit id="org.milyn.smooks-calc.source" version="1.4.0"/>
<unit id="org.milyn.smooks-camel" version="1.4.0"/>
<unit id="org.milyn.smooks-camel.source" version="1.4.0"/>
<unit id="org.milyn.smooks-core" version="1.4.0"/>
<unit id="org.milyn.smooks-core.source" version="1.4.0"/>
<unit id="org.milyn.smooks-csv" version="1.4.0"/>
<unit id="org.milyn.smooks-csv.source" version="1.4.0"/>
<unit id="org.milyn.smooks-edi" version="1.4.0"/>
<unit id="org.milyn.smooks-edi.source" version="1.4.0"/>
<unit id="org.milyn.smooks-fixed-length" version="1.4.0"/>
<unit id="org.milyn.smooks-fixed-length.source" version="1.4.0"/>
<unit id="org.milyn.smooks-javabean" version="1.4.0"/>
<unit id="org.milyn.smooks-javabean.source" version="1.4.0"/>
<unit id="org.milyn.smooks-json" version="1.4.0"/>
<unit id="org.milyn.smooks-json.source" version="1.4.0"/>
<unit id="org.milyn.smooks-misc" version="1.4.0"/>
<unit id="org.milyn.smooks-misc.source" version="1.4.0"/>
<unit id="org.milyn.smooks-persistence" version="1.4.0"/>
<unit id="org.milyn.smooks-persistence.source" version="1.4.0"/>
<unit id="org.milyn.smooks-routing" version="1.4.0"/>
<unit id="org.milyn.smooks-routing.source" version="1.4.0"/>
<unit id="org.milyn.smooks-rules" version="1.4.0"/>
<unit id="org.milyn.smooks-rules.source" version="1.4.0"/>
<unit id="org.milyn.smooks-scripting" version="1.4.0"/>
<unit id="org.milyn.smooks-scripting.source" version="1.4.0"/>
<unit id="org.milyn.smooks-templating" version="1.4.0"/>
<unit id="org.milyn.smooks-templating.source" version="1.4.0"/>
<unit id="org.milyn.smooks-validation" version="1.4.0"/>
<unit id="org.milyn.smooks-validation.source" version="1.4.0"/>
<unit id="org.milyn.smooks-yaml" version="1.4.0"/>
<unit id="org.milyn.smooks-yaml.source" version="1.4.0"/>
<unit id="org.milyn.smooks.osgi" version="1.4.0"/>
<unit id="org.milyn.smooks.osgi.source" version="1.4.0"/>
<unit id="org.mockito.mockito-all" version="1.9.0"/>
<unit id="org.mockito.mockito-all.source" version="1.9.0"/>
<unit id="org.mvel2" version="2.0.17"/>
<unit id="org.mvel2.source" version="2.0.17"/>
<unit id="org.objenesis" version="1.2.0"/>
<unit id="org.objenesis.source" version="1.2.0"/>
<unit id="org.odftoolkit.odfdom-java" version="0.8.6"/>
<unit id="org.odftoolkit.odfdom-java.source" version="0.8.6"/>
<unit id="org.postgresql" version="9.2.0.1002-jdbc4"/>
<unit id="org.postgresql.source" version="9.2.0.1002-jdbc4"/>
<unit id="org.powermock.api-mockito" version="1.4.12"/>
<unit id="org.powermock.api-mockito.source" version="1.4.12"/>
<unit id="org.powermock.api-support" version="1.4.12"/>
<unit id="org.powermock.api-support.source" version="1.4.12"/>
<unit id="org.powermock.core" version="1.4.12"/>
<unit id="org.powermock.core.source" version="1.4.12"/>
<unit id="org.powermock.module-junit4" version="1.4.12"/>
<unit id="org.powermock.module-junit4-common" version="1.4.12"/>
<unit id="org.powermock.module-junit4-common.source" version="1.4.12"/>
<unit id="org.powermock.module-junit4.source" version="1.4.12"/>
<unit id="org.powermock.reflect" version="1.4.12"/>
<unit id="org.powermock.reflect.source" version="1.4.12"/>
<unit id="org.rxtx" version="2.1.7"/>
<unit id="org.yaml.snakeyaml" version="1.11.0"/>
<unit id="org.yaml.snakeyaml.source" version="1.11.0"/>
<unit id="slf4j.api" version="1.6.6"/>
<unit id="slf4j.api.source" version="1.6.6"/>
<unit id="slf4j.ext" version="1.6.6"/>
<unit id="slf4j.ext.source" version="1.6.6"/>
<unit id="slf4j.jcl" version="1.6.6"/>
<unit id="slf4j.jcl.source" version="1.6.6"/>
<unit id="slf4j.log4j12" version="1.6.6"/>
<unit id="slf4j.log4j12.source" version="1.6.6"/>
<unit id="uk.org.lidalia.sysout-over-slf4j" version="1.0.2"/>
<unit id="uk.org.lidalia.sysout-over-slf4j.source" version="1.0.2"/>
<unit id="xalan" version="2.6.0"/>
<unit id="xalan.serializer" version="2.7.1"/>
<unit id="xerces.Impl" version="2.9.1"/>
<unit id="xerces.Impl.source" version="2.6.2"/>
<unit id="xerces.xmlParserAPIs" version="2.6.2"/>
<unit id="xml-apis" version="1.3.4"/>
<unit id="xml-apis.source" version="1.3.4"/>
<unit id="xml-resolver" version="1.2.0"/>
<unit id="xml-resolver.source" version="1.2.0"/>
<unit id="xom" version="1.0.0"/>
<unit id="xpp3.min" version="1.1.3.4_O"/>
<repository location="http://download.elexis.info/elexis.3.3rdparty.libraries/snapshot/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.0.1.201307031725"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.0.1.201307031725"/>
<repository location="http://download.eclipse.org/nattable/releases/1.0.1/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ca.odell.glazedlists" version="1.9.0.v201303080712"/>
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="1.9.0.20131008-0518"/>
<repository location="http://download.eclipse.org/mylyn/releases/latest"/>
</location>
</locations>
</target>
