# Build script used by gitlab.medelexis.ch
variables:
   ORIGIN_BRANCH: "master" 
   # Set to true in manual execution to build products
   #    see ch.elexis.core.p2site/pom.xml
   MATERIALIZE_PRODUCTS: "false"

stages:
    - build
    - trigger_other_builds
    - deploy

# Parallel build currently suspended due to https://github.com/eclipse/tycho/issues/1099
# xvfb-run mvn -V -T 1C clean verify -B -DelexisJcfsTest=true -Dno_materialize_products
build:
  stage: build
  tags:
  - java17
  - maven
  script:
  - unset JAVA_HOME
  - env
  - xvfb-run mvn -V clean verify -B -DelexisJcfsTest=true -Dno_materialize_products
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_ED25519_BASE64" | base64 -d)
  - rsync -aiv --delete --mkpath -e ssh ch.elexis.core.p2site/target/repository/ deploy@download.medelexis.ch:download.elexis.info/elexis/$CI_COMMIT_REF_NAME/p2/elexis-3-core/
  - '[[ -d "ch.elexis.core.p2site/target/products/" ]] && rsync -aiv --no-recursive -e ssh ch.elexis.core.p2site/target/products/* deploy@download.medelexis.ch:download.elexis.info/elexis/$CI_COMMIT_REF_NAME/products/'
  - eval $(ssh-agent -k)
  artifacts:
    reports:
      junit:
        - tests/**/target/surefire-reports/TEST-*.xml
  only:
  - master@elexis/elexis-3-core
  - /^\d*[.]\d*$/@elexis/elexis-3-core
  - /^[bf]\d*$/@elexis/elexis-3-core

trigger_elexis-3-base_build:
    stage: trigger_other_builds
    trigger:
      project: elexis/elexis-3-base
      branch: $CI_COMMIT_REF_NAME
    only:
    - master@elexis/elexis-3-core
    - /^\d*[.]\d*$/@elexis/elexis-3-core
    - /^[bf]\d*$/@elexis/elexis-3-core

update_products_download_elexis_info:
  # see https://docs.gitlab.com/ee/ci/yaml/index.html#when
  # test ist using: gitlab-runner exec shell update_products_download_elexis_info
  stage: deploy
  when: manual
  variables:
    MATERIALIZE_PRODUCTS: "true"
  tags:
  - java17
  - maven
  script:
  - unset JAVA_HOME
  - env
  - mvn -V verify -B -DskipTests
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_ED25519_BASE64" | base64 -d)
  - rsync -aiv --no-recursive -e ssh ch.elexis.core.p2site/target/products/* deploy@download.medelexis.ch:download.elexis.info/elexis/$CI_COMMIT_REF_NAME/products/
  - eval $(ssh-agent -k)
  only:
  - master@elexis/elexis-3-core
  - /^\d*[.]\d*$/@elexis/elexis-3-core
  - /^[bf]\d*$/@elexis/elexis-3-core
