# Build script used by gitlab.medelexis.ch
variables:
   ORIGIN_BRANCH: "master" 
   TARGET: "2023-09-java17"
   DOCKER_BUILD_IMAGE: "gitlab.medelexis.ch:4567/elexis/docker-build:${TARGET}"

stages:
    - build
    - trigger_other_builds
    - deploy

# Parallel build currently suspended due to https://github.com/eclipse/tycho/issues/1099
# xvfb-run mvn -V -T 1C clean verify -B
build:
  stage: build
  tags:
  - docker-host
  script:
  - mkdir -p /home/maven/m2-$CI_COMMIT_REF_NAME
  - docker pull gitlab.medelexis.ch:4567/elexis/docker-build:${TARGET}
  - docker run --rm --init -v "$(pwd)":/usr/src/mymaven -v "/home/maven/m2-$CI_COMMIT_REF_NAME":/root/.m2 -w /usr/src/mymaven ${DOCKER_BUILD_IMAGE} xvfb-run mvn -V clean verify -B
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_ED25519_BASE64" | base64 -d)
  - rsync -aiv --delete --mkpath -e ssh ch.elexis.core.p2site/target/repository/ deploy@download.medelexis.ch:download.elexis.info/elexis/$CI_COMMIT_REF_NAME/p2/elexis-3-core/
  - eval $(ssh-agent -k)
  artifacts:
    reports:
      junit:
        - tests/**/target/surefire-reports/TEST-*.xml
  only:
  - master@elexis/elexis-3-core
  - /^\d*[.]\d*$/@elexis/elexis-3-core
  - /^[bf]\d*$/@elexis/elexis-3-core

trigger_elexis-3-base_build:
    stage: trigger_other_builds
    trigger:
      project: elexis/elexis-3-base
      branch: $CI_COMMIT_REF_NAME
    only:
    - master@elexis/elexis-3-core
    - /^\d*[.]\d*$/@elexis/elexis-3-core
    - /^[bf]\d*$/@elexis/elexis-3-core

build_product:
  stage: deploy
  when: manual
  tags:
  - docker-host
  script:
  - docker run --rm --init -v "$(pwd)":/usr/src/mymaven -v "/home/maven/m2-$CI_COMMIT_REF_NAME":/root/.m2 -w /usr/src/mymaven ${DOCKER_BUILD_IMAGE} xvfb-run mvn -V clean verify -B -Dmaterialize-products 
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_ED25519_BASE64" | base64 -d)
  - rsync -aiv --no-recursive -e ssh ch.elexis.core.p2site/target/products/* deploy@download.medelexis.ch:download.elexis.info/elexis/$CI_COMMIT_REF_NAME/products/
  - eval $(ssh-agent -k)
