# Build script used by gitlab.medelexis.ch
variables:
   ORIGIN_BRANCH: "master" 

stages:
    - build
    - trigger_other_builds

build:
  stage: build
  tags:
  - java11
  - maven
  script:
  - unset JAVA_HOME
  - env
  - xvfb-run mvn -V -T 1C clean verify -B -DelexisJcfsTest=true -Dno_materialize_products
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_ED25519_BASE64" | base64 -d)
  - rsync -aiv --delete --mkpath -e ssh ch.elexis.core.p2site/target/repository/ deploy@download.medelexis.ch:download.elexis.info/elexis/$CI_COMMIT_REF_NAME/p2/elexis-3-core/
  - eval $(ssh-agent -k)
  artifacts:
    reports:
      junit:
        - tests/**/target/surefire-reports/TEST-*.xml
  only:
  - master@elexis/elexis-3-core
  - /^\d*[.]\d*$/@elexis/elexis-3-core
  - /^[bf]\d*$/@elexis/elexis-3-core

trigger_elexis-3-base_build:
    stage: trigger_other_builds
    trigger:
      project: elexis/elexis-3-base
      branch: $CI_COMMIT_REF_NAME
    only:
    - master@elexis/elexis-3-core
    - /^\d*[.]\d*$/@elexis/elexis-3-core
    - /^[bf]\d*$/@elexis/elexis-3-core
