---

dist: xenial # we need xenial to have mysql 5.7

language: java

install: mvn -V -DskipTests=true -Dmaven.javadoc.skip=true -B validate

script: mvn -V --quiet clean verify -Dall-archs=true && find . -name "*.zip"

notifications:
  email:
  - niklaus.giger@member.fsf.org

jdk: openjdk8 # oraclejdk8 is no longer supported by travis-ci

cache:
  directories:
  - $HOME/.m2

addons:
  postgresql: "9.6"

services:
#  - mysql

env:
  global:
  - PGPASSWORD=elexisTest
  - JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64
  - PATH=$(echo "$PATH" | sed -e 's/:\/usr\/local\/lib\/jvm\/openjdk11\/bin//')

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  - java -version
  # mysql fails currently with fist error in ch.elexis.core.data.tests
  # testDatabaseUpdatedToRequiredVersion[mysql 5.1](ch.elexis.data.Test_DBInitialState)  Time elapsed: 0.001 sec  <<< ERROR!
  # ch.rgw.tools.JdbcLinkSyntaxException: Fehler bei: INSERT INTO traces VALUES(1542366761342, 'travis-job-76cef79e-5c90-44d8-a68f-ab...', 'ut_user_h2', 'W globalCfg key [ElexisVersion] => value [3.7.0.qualifier]') (SQLState: 42S02)
#  - mysql --version
#  - mysql -e 'SHOW VARIABLES LIKE "%version%";'
#  - mysql -e 'CREATE DATABASE unittests;'
#  - mysql -e "grant all on unittests.* to elexisTest@localhost identified by 'elexisTest';"
  - psql --version
  - psql -c "create user elexisTest with UNENCRYPTED password 'elexisTest';" -U postgres
  - psql -c "create database unittests;" -U postgres
  - psql -c "grant all privileges on database unittests to elexisTest;" -U postgres
