<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension-point id="Sidebar" name="%elexis.sidebar" schema="schema/Sidebar.exsd"/>
   <extension-point id="LaborDatenImport" name="%elexis.importLab" schema="schema/LaborDatenImport.exsd"/>
   <extension-point id="FremdDatenImport" name="%elexis.importExt" schema="schema/FremdDatenImport.exsd"/>
   <extension-point id="Text" name="%elexis.text" schema="schema/Text.exsd"/>
   <extension-point id="Verrechnungscode" name="%elexis.articles" schema="schema/Verrechnungscode.exsd"/>
   <extension-point id="Diagnosecode" name="%elexis.diagnoses" schema="schema/Diagnosecode.exsd"/>
   <extension-point id="Genericcode" name="%elexis.genericcode" schema="schema/Genericcode.exsd"/>
   <extension-point id="KonsExtension" name="%elexis.konsExtension" schema="schema/KonsExtension.exsd"/>
   <extension-point id="Transporter" name="Transporter" schema="schema/Transporter.exsd"/>
   <extension-point id="RezeptHook" name="RezeptHook" schema="schema/RezeptHook.exsd"/>
   <extension-point id="xCHangeContribution" name="xCHange Contribution" schema="schema/xCHangeContribution.exsd"/>
   <extension-point id="LaborOrder" name="%elexis.laborOrder" schema="schema/LaborOrder.exsd"/>
   <extension-point id="LoginNews" name="%elexis.loginNews" schema="schema/LoginNews.exsd"/>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.core.ui.preferences.SystemPreferencePage"
            class="ch.elexis.core.ui.preferences.Ablauf"
            id="ch.elexis.preferences.general"
            name="%elexis.generalPrefs"/>
      <page
            category="ch.elexis.core.ui.preferences.SystemPreferencePage"
            class="ch.elexis.core.ui.preferences.Datenbank"
            id="ch.elexis.preferences.connect"
            name="%elexis.databasePrefs"/>
      <page
            class="ch.elexis.core.ui.preferences.Gruppen"
            id="ch.elexis.preferences.security"
            name="%elexis.groupPrefs"/>
      <page
            category="ch.elexis.preferences.security"
            class="ch.elexis.core.ui.preferences.Zugriff"
            id="ch.elexis.preferences.acl"
            name="%elexis.securityPrefs"/>
      <page
            category="ch.elexis.preferences.security"
            class="ch.elexis.core.ui.preferences.AnwenderPref"
            id="ch.elexis.anwenderprefs"
            name="%elexis.userPrefs"/>
      <page
            category="ch.elexis.preferences.security"
            class="ch.elexis.core.ui.preferences.Mandanten"
            id="ch.elexis.MandantenPref"
            name="%elexis.mandatorPrefs"/>
      <page
            class="ch.elexis.core.ui.preferences.Texterstellung"
            id="ch.elexis.preferences.Texterstellung"
            name="%elexis.textPrefs"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.core.ui.preferences.SidebarPreferences"
            id="ch.elexis.sidebarPrefs"
            name="%elexis.sidebarPrefs"/>
      <page
            class="ch.elexis.core.ui.preferences.ImporterHost"
            id="ch.elexis.preferences.transporters"
            name="%elexis.importerPrefs"/>
      <page
      		class="ch.elexis.core.ui.preferences.Services"
      		id="ch.elexis.preferences.onlineservices"
      		name="%elexis.online"/>
      <!--page
            class="ch.elexis.preferences.DokumentKategorie"
            id="ch.elexis.BriefKategorienPrefs"
            name="%elexis.docCategoryPrefs"/-->
      <page
            class="ch.elexis.core.ui.preferences.Leistungscodes"
            id="ch.elexis.Leistungscodes"
            name="%elexis.activityCodePrefs"/>
      <page
            category="ch.elexis.core.ui.preferences.SystemPreferencePage"
            class="ch.elexis.core.ui.preferences.PrinterPreferencePage"
            id="ch.elexis.PrinterPreference"
            name="%elexis.printerPrefs"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.core.ui.preferences.ReminderPrefences"
            id="ch.elexis.reminderprefs"
            name="%elexis.reminderPrefs"/>
      <page
            class="ch.elexis.core.ui.preferences.UserPreferences"
            id="ch.elexis.preferences.UserPreferences"
            name="%elexis.userPrefs"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.core.ui.preferences.UserTextPref"
            id="ch.elexis.preferences.usertext"
            name="%page.name.0"/>
      <page
            class="ch.elexis.core.ui.preferences.LagerverwaltungPrefs"
            id="ch.elexis.preferences.LagerverwaltungPrefs"
            name="%page.name.1"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.core.ui.preferences.UserCasePreferences"
            id="ch.elexis.preferences.UserCasePreferences"
            name="%elexis.userCasePrefs">
      </page>
      <page
            class="ch.elexis.core.ui.preferences.ScannerPref"
            id="ch.elexis.preferences.scanner"
            name="%elexis.scannerPrefs">
      </page>
      <page
            class="ch.elexis.core.ui.preferences.Stickers"
            id="ch.elexis.prefs.sticker"
            name="%page.name.4">
      </page>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.core.ui.preferences.FontPreference"
            id="ch.elexis.user.fontselector"
            name="%page.name.5">
      </page>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.core.ui.preferences.XIDEdit"
            id="ch.elexis.preferences.xid.edit"
            name="%page.name.6">
      </page>
      <page
            class="ch.elexis.core.ui.preferences.CDSSGroup"
            id="ch.elexis.preferences.cdss"
            name="%elexis.cdss">
      </page>
      <page
            category="ch.elexis.preferences.Texterstellung"
            class="ch.elexis.core.ui.preferences.TextTemplatePreferences"
            id="ch.elexis.preferences.documentTemplates"
            name="%Textvorlagen">
      </page>
      <page
            class="ch.elexis.core.ui.preferences.SystemPreferencePage"
            id="ch.elexis.core.ui.preferences.SystemPreferencePage"
            name="System">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ch.elexis.core.ui.commands.kategorie"
            id="ch.elexis.core.ui.commands.login"
            name="%elexis.loginCommand"/>
      <category
            id="ch.elexis.core.ui.commands.kategorie"
            name="%category.name.0"/>
      <command
            categoryId="ch.elexis.core.ui.commands.kategorie"
            id="ch.elexis.core.ui.commands.import"
            name="%elexis.importCommand"/>
      <command
            categoryId="ch.elexis.core.ui.commands.kategorie"
            description="%command.description.0"
            id="ch.elexis.core.ui.commands.connectWizard"
            name="%elexis.connectCommand"/>
      <command
            description="%command.description.1"
            id="ch.elexis.core.ui.commands.home"
            name="%command.name.0"/>
      <command
            categoryId="ch.elexis.core.ui.commands.bills"
            defaultHandler="ch.elexis.core.ui.commands.ErstelleRnnCommand"
            id="bill.create"
            name="%command.name.1">
         <commandParameter
               id="ch.elexis.RechnungErstellen.parameter"
               name="%commandParameter.name.0"
               optional="true"
               typeId="ch.elexis.TreeType">
         </commandParameter>
      </command>
      <category
            description="%category.description.0"
            id="ch.elexis.core.ui.commands.bills"
            name="%category.name.1">
      </category>
      <command
            categoryId="ch.elexis.core.ui.commands.bills"
            defaultHandler="ch.elexis.core.ui.commands.MahnlaufCommand"
            description="%command.description.2"
            id="bill.reminder"
            name="%command.name.2">
      </command>
      <commandParameterType
            converter="ch.elexis.core.ui.commands.TreeToStringConverter"
            id="ch.elexis.TreeType"
            type="ch.rgw.tools.Tree">
      </commandParameterType>
      <command
            categoryId="ch.elexis.core.ui.commands.kategorie"
            defaultHandler="ch.elexis.core.ui.commands.ExportiereBloeckeCommand"
            description="%command.description.3"
            id="serviceblocks.export"
            name="%command.name.3">
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.commands.EditEigenartikelUi"
            id="ch.elexis.eigenartikel.edit"
            name="Eigenartikel Ändern">
         <commandParameter
               id="ch.elexis.eigenartikel.edit.selected"
               name="Selected Eigenartikel"
               optional="true"
               typeId="ch.elexis.PersistentObjectType">
         </commandParameter>
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.commands.EditEigenleistungUi"
            id="ch.elexis.eigenleistung.edit"
            name="Eigenleistung Ändern">
         <commandParameter
               id="ch.elexis.eigenleistung.edit.selected"
               name="Selected Eigenleistung"
               optional="true"
               typeId="ch.elexis.PersistentObjectType">
         </commandParameter>
      </command>
      <commandParameterType
            converter="ch.elexis.core.ui.commands.PersistentObjectConverter"
            id="ch.elexis.PersistentObjectType"
            type="ch.elexis.core.data.PersistentObject">
      </commandParameterType>
      <command
            defaultHandler="ch.elexis.core.ui.commands.CreateEigenleistungUi"
            id="ch.elexis.eigenleistung.create"
            name="Eigenleistung Anlegen">
      </command>
   </extension>
   <extension
         point="ch.elexis.core.data.coreOperation">
      <coreOperation
            advisor="ch.elexis.core.ui.CoreOperationAdvisor">
      </coreOperation>
   </extension>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
      <Rechnung
            name="Fall-Standard"
            outputter="ch.elexis.core.ui.views.rechnung.DefaultOutputter">
      </Rechnung>
   </extension>
   
      <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.description.0"
            id="ch.elexis.context.billing"
            name="%context.name.0"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
      <extension
            point="org.eclipse.ui.services">
         <sourceProvider
               provider="ch.elexis.core.ui.commands.sourceprovider.PatientSelectionStatus">
            <variable
                  name="ch.elexis.core.ui.commands.sourceprovider.patientSelectionActive"
                  priorityLevel="workbench">
            </variable>
         </sourceProvider>
      </extension>
      <extension
            point="ch.elexis.core.ui.Verrechnungscode">
             <Leistung
            CodeDetailDisplay="ch.elexis.core.ui.eigenleistung.EigenleistungDetailDisplay"
            CodeSelectorFactory="ch.elexis.core.ui.eigenleistung.EigenleistungCodeSelectorFactory"
            ElementFactory="ch.elexis.data.PersistentObjectFactory"
            name="Eigenleistung">
      </Leistung>
      </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ch.elexis.toolbar1">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/new_wiz.gif"
                  label="Views anzeigen"
                  style="push"
                  tooltip="%command.showViews">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        args="AC_SHOWVIEW"
                        property="ch.elexis.commands.propertyTester.ACE">
                  </test>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="ch.elexis.coolbar.MandantSelection">
            <dynamic
                  class="ch.elexis.core.ui.coolbar.MandantSelectionContributionItem"
                  id="ch.elexis.core.ui.coolbar.MandantSelectionContributionItem">
            </dynamic>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.LeistungenView">
         <command
               commandId="org.eclipse.ui.file.properties"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/system-search-3.png"
               label="%properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.PatListView">
         <command
               commandId="org.eclipse.ui.file.properties"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/system-search-3.png"
               label="%properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.codedetailview">
         <command
               commandId="org.eclipse.ui.file.properties"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/system-search-3.png"
               label="%properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="org.eclipse.ui.window.showKeyAssist"
               label="Key Assist..."
               style="push">
         </command>
      </menuContribution>
   </extension>
      <extension
            point="ch.elexis.core.ui.KonsExtension">
         <Link
               KonsExtension="ch.elexis.core.ui.text.XrefExtension"
               name="DocumentLink">
         </Link>
         <Makro
               KonsMakro="ch.elexis.core.ui.text.BlockMakro"
               name="enabled">
         </Makro>
      </extension>
      <extension
            point="ch.elexis.core.data.OutputLogDescriptor">
         <OutputLogDescriptor
               Outputter="ch.elexis.core.ui.views.RezeptBlatt"
               id="ch.elexis.RezeptBlatt">
         </OutputLogDescriptor>
      </extension>
      <extension
            point="org.eclipse.ui.propertyPages">
         <page
               class="ch.elexis.core.ui.propertypage.PatientPropertyPage"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/personal.png"
               id="at.medevit.elexis.properties.propertyPage.PatientPropertyPage"
               name="%details">
            <enabledWhen>
               <instanceof
                     value="ch.elexis.data.Patient">
               </instanceof>
            </enabledWhen>
         </page>
         <page
               class="ch.elexis.core.ui.propertypage.PatientAddressPage"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/address-book-new-2.png"
               id="at.medevit.elexis.properties.propertyPage.PatientAddressPage"
               name="%address">
            <enabledWhen>
               <instanceof
                     value="ch.elexis.data.Patient">
               </instanceof>
            </enabledWhen>
         </page>
         <page
               class="ch.elexis.core.ui.propertypage.XIDPropertyPage"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/emblem-symbolic-link-2.png"
               id="at.medevit.elexis.properties.propertyPage.XIDPropertyPage"
               name="XID">
            <enabledWhen>
               <instanceof
                     value="ch.elexis.data.PersistentObject">
               </instanceof>
            </enabledWhen>
         </page>
         <page
               class="ch.elexis.core.ui.propertypage.ExtInfoPropertyPage"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/emblem-symbolic-link-2.png"
               id="at.medevit.elexis.properties.propertyPage.ExtInfoPropertyPage"
               name="ExtInfo">
         </page>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="org.eclipse.ui.window.showKeyAssist"
               schemeId="ch.elexis.ui.keybindingScheme"
               sequence="M1+SHIFT+L">
         </key>
         <scheme
               description="KeyBindings that use this scheme will be displayed by the KeyAssistant in Elexis"
               id="ch.elexis.ui.keybindingScheme"
               name="Elexis Keybinding Scheme">
         </scheme>
      </extension>
</plugin>
