<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.elexis.core.data.ACLContribution">
      <ACLContribution
            ACLContributor="ch.elexis.core.eigenartikel.acl.ACLContributor"
            name="ch.elexis.core.eigenartikel.acl.ACLContributor">
      </ACLContribution>
   </extension>

</plugin>
