<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="false"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ch.elexis.core.findings.util.test/src/ch/elexis/core/findings/util/test/AllTests.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.elexis.core.findings.util.test.AllTests"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch.elexis.core.findings.util.test"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="info.elexis.server.core.ElexisServer"/>
    <booleanAttribute key="run_in_ui_thread" value="false"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcprov@default:default"/>
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="ch.qos.logback.slf4j@default:false"/>
        <setEntry value="com.eclipsesource.jaxrs.consumer@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="com.mysql.cj@default:default"/>
        <setEntry value="com.sun.xml.bind@default:default"/>
        <setEntry value="info.elexis.target.hapi.fhir@default:default"/>
        <setEntry value="jakarta.persistence@default:default"/>
        <setEntry value="jakarta.ws.rs-api@default:default"/>
        <setEntry value="jakarta.xml.bind@default:default"/>
        <setEntry value="javassist@default:default"/>
        <setEntry value="javax.activation@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.commons-beanutils@default:default"/>
        <setEntry value="org.apache.commons.commons-codec@default:default"/>
        <setEntry value="org.apache.commons.commons-collections4@default:default"/>
        <setEntry value="org.apache.commons.commons-dbcp2@default:default"/>
        <setEntry value="org.apache.commons.commons-pool2@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.commons.math3@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.poi.ooxml.schemas@default:default"/>
        <setEntry value="org.apache.poi.ooxml@default:default"/>
        <setEntry value="org.apache.poi@default:default"/>
        <setEntry value="org.beanshell.bsh@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.macosx@default:default"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.gemini.jpa@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.persistence.antlr@default:default"/>
        <setEntry value="org.eclipse.persistence.asm@default:default"/>
        <setEntry value="org.eclipse.persistence.core@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa.jpql@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa@default:default"/>
        <setEntry value="org.eclipse.persistence.oracle@default:default"/>
        <setEntry value="org.glassfish.hk2.osgi-resource-locator@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-client@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-common@default:default"/>
        <setEntry value="org.glassfish.jersey.media.jersey-media-multipart@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.jdom@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.jvnet.mimepull@default:default"/>
        <setEntry value="org.postgresql.jdbc@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="osgi.enterprise@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="ch.elexis.core.coding.test@default:default"/>
        <setEntry value="ch.elexis.core.coding@default:default"/>
        <setEntry value="ch.elexis.core.data.tests@default:default"/>
        <setEntry value="ch.elexis.core.data@default:default"/>
        <setEntry value="ch.elexis.core.findings.test@default:default"/>
        <setEntry value="ch.elexis.core.findings.util.test@default:false"/>
        <setEntry value="ch.elexis.core.findings.util@default:default"/>
        <setEntry value="ch.elexis.core.findings@default:default"/>
        <setEntry value="ch.elexis.core.hapi.fhir@default:default"/>
        <setEntry value="ch.elexis.core.jcifs.test@default:default"/>
        <setEntry value="ch.elexis.core.jcifs@default:default"/>
        <setEntry value="ch.elexis.core.jpa.datasource@default:default"/>
        <setEntry value="ch.elexis.core.jpa.entities.test@default:default"/>
        <setEntry value="ch.elexis.core.jpa.entities@default:default"/>
        <setEntry value="ch.elexis.core.jpa.logging.slf4j@default:default"/>
        <setEntry value="ch.elexis.core.jpa.test@default:default"/>
        <setEntry value="ch.elexis.core.jpa@default:default"/>
        <setEntry value="ch.elexis.core.l10n@default:default"/>
        <setEntry value="ch.elexis.core.logback.rocketchat@default:default"/>
        <setEntry value="ch.elexis.core.logging.default_configuration@default:false"/>
        <setEntry value="ch.elexis.core.model.test@default:default"/>
        <setEntry value="ch.elexis.core.model@default:default"/>
        <setEntry value="ch.elexis.core.services.test@default:default"/>
        <setEntry value="ch.elexis.core.services@default:default"/>
        <setEntry value="ch.elexis.core.test.context@default:default"/>
        <setEntry value="ch.elexis.core.test.logging@default:default"/>
        <setEntry value="ch.elexis.core.test@default:default"/>
        <setEntry value="ch.elexis.core@default:default"/>
        <setEntry value="ch.rgw.utility.tests@default:false"/>
        <setEntry value="ch.rgw.utility@default:default"/>
        <setEntry value="jakarta.xml.bind-api@default:default"/>
        <setEntry value="javax.transaction@default:default"/>
        <setEntry value="org.osgi.framework.system.packages.extra@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
