<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.elexis.core.application.ElexisApp"
            name="Elexis OpenSource">
         <property
               name="appName"
               value="Elexis OpenSource">
         </property>
         <property
               name="preferenceCustomization"
               value="elexisprefs.ini">
         </property>
         <property
               name="windowImages"
               value="rsc/elexis2_16.gif,rsc/elexis32_2.gif,rsc/elexis48.gif">
         </property>
         <property
               name="aboutText"
               value="Elexis 3.0 Development Version - www.elexis.info">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.elexis.core.ui.views.TemplatePrintView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/printer.png"
            id="ch.elexis.views.TemplatePrintView"
            name="%elexis.templatePrintView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.core.ui.views.FallListeView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/documents_stack.png"
            id="ch.elexis.FallListeView"
            name="%elexis.caseKonsView">
      </view>
      <view
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.core.ui.laboratory.views.LaborView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/labor_view.png"
            id="ch.elexis.Labor"
            name="%elexis.labView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.core.ui.views.RezepteView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/rezept_view.png"
            id="ch.elexis.Rezepte"
            name="%elexis.prescriptionView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.contacts.views.PatientenListeView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/group.png"
            id="ch.elexis.PatListView"
            name="%elexis.patListView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.KompendiumView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/information.png"
            id="ch.elexis.Kompendium"
            name="%elexis.kompendiumView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.core.ui.views.rechnung.KonsZumVerrechnenView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/page_red.png"
            id="ch.elexis.BehandlungenVerrechnenView"
            name="%elexis.openKonsView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.core.ui.views.codesystems.LeistungenView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/leistung.png"
            id="ch.elexis.LeistungenView"
            name="%elexis.activityView">
      </view>
      <view
            class="ch.elexis.core.ui.views.BBSView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/tafel.jpg"
            id="ch.elexis.BBSView"
            name="%elexis.bbsView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.artikel.Artikeldetail"
            id="ch.elexis.ArtikelDetail"
            name="%elexis.articleDetailView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.FallDetailView"
            id="ch.elexis.FallDetailView"
            name="%elexis.caseDetailView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.core.ui.views.BriefAuswahl"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/mail.png"
            id="ch.elexis.BriefAuswahlView"
            name="%elexis.selectLetterView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.core.ui.views.KonsDetailView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/consult_view.png"
            id="ch.elexis.Konsdetail"
            name="%elexis.konsDetailView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.core.ui.views.codesystems.DiagnosenView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/stethoskop.gif"
            id="ch.elexis.DiagnosenView"
            name="%elexis.diagnosesView">
      </view>
      <view
            allowMultiple="true"
            category="ch.elexis.textKategorie"
            class="ch.elexis.core.ui.views.TextView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/dokument.gif"
            id="ch.elexis.TextView"
            name="%elexis.textView">
      </view>
      <view
            allowMultiple="false"
            category="ch.elexis.codesKategorie"
            class="ch.elexis.core.ui.views.codesystems.CodeDetailView"
            fastViewWidthRatio="0.5f"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/report.png"
            id="ch.elexis.codedetailview"
            name="%elexis.codesView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.core.ui.laboratory.views.LaborblattView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/printer.png"
            id="ch.elexis.Laborblatt"
            name="%elexis.labPrintView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.core.ui.views.AUFZeugnis"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/printer.png"
            id="ch.elexis.AUFView"
            name="%elexis.auzPrintView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.core.ui.views.RezeptBlatt"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/printer.png"
            id="ch.elexis.RezeptBlatt"
            name="%elexis.prescriptionPrintView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.core.ui.views.PatHeuteView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/calendar_view_day.png"
            id="ch.elexis.PatHeuteView"
            name="%elexis.patTodayView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.LagerView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/box_label.png"
            id="ch.elexis.LagerView"
            name="%elexis.stocksView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.BestellView"
            id="ch.elexis.BestellenView"
            name="%elexis.orderView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.artikel.ArtikelView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/pill.png"
            id="ch.elexis.artikelview"
            name="%elexis.articlesView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.artikel.ArtikelSelektor"
            id="ch.elexis.ArtikelSelektor"
            name="%elexis.articleSelectorView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.BestellBlatt"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/printer.png"
            id="ch.elexis.BestellBlatt"
            name="%elexis.orderPrintView">
      </view>
      <view
            allowMultiple="false"
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.core.ui.views.KonsListe"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/book_open_view.png"
            id="ch.elexis.HistoryView"
            name="%elexis.historyView">
      </view>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.core.ui.views.KGPrintView"
            id="ch.elexis.views.KGPrintView"
            name="%elexis.emrPrintView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.core.ui.views.AUF2"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/auf.png"
            id="ch.elexis.auf"
            name="%elexis.aufView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.core.ui.views.rechnung.RnDetailView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/page_green.png"
            id="ch.elexis.RechnungsDetailView"
            name="%elexis.billDetail">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.core.ui.views.rechnung.RechnungsListeView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/page_copy.png"
            id="ch.elexis.RechnungsListeView"
            name="%elexis.billsListView">
      </view>
      <view
            class="ch.elexis.core.ui.medication.views.DauerMediView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/pill.png"
            id="ch.elexis.dauermedikationview"
            name="%elexis.fixMediView">
      </view>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.core.ui.views.FaelleView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/documents_stack.png"
            id="ch.elexis.schoebufaelle"
            name="%elexis.casesListView">
      </view>
      <view
            class="ch.elexis.core.ui.views.ReminderView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/bell__exclamation.png"
            id="ch.elexis.reminderview"
            name="%elexis.remindersView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.core.ui.views.rechnung.AccountView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/money.png"
            id="ch.elexis.views.rechnung.AccountView"
            name="%elexis.AccountView">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.core.ui.views.rechnung.AccountListView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/money.png"
            id="ch.elexis.views.rechnung.AccountListView"
            name="%elexis.AccountListView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.SearchView"
            id="ch.elexis.views.SearchView"
            name="%elexis.SearchView">
      </view>
      <view
            allowMultiple="true"
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.FieldDisplayView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/daten.gif"
            id="ch.elexis.dbfielddisplay"
            name="%view.name.1">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.ODDBView"
            id="ch.elexis.ODDBView"
            name="%view.name.2">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.views.MediVerlaufView"
            id="ch.elexis.medverlaufview"
            name="%view.name.3">
      </view>
      <view
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.core.ui.laboratory.views.LabNotSeenView"
            fastViewWidthRatio="0.4"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/reagensask.ico"
            id="ch.elexis.LabNotSeenView"
            name="%view.name.4">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.core.ui.views.rechnung.BillSummary"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/rechnungen.ico"
            id="ch.elexis.views.rechnung.BillSummary"
            name="%elexis.BillSummaryView">
      </view>
      <view
            allowMultiple="true"
            category="ch.elexis.textKategorie"
            class="ch.elexis.core.ui.views.textsystem.PlatzhalterView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/platzhalter.gif"
            id="ch.elexis.views.textsystem.Platzhalterview"
            name="Platzhalter">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.contacts.views.PatientDetailView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/person.ico"
            id="ch.elexis.PatientDetailView"
            name="%elexis.patDetailView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.contacts.views.PatientDetailView2"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/person.ico"
            id="ch.elexis.PatDetail_v2"
            name="%elexis.patDetailView">
      </view>
      <view
            class="ch.elexis.core.ui.views.ScriptView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/script_code.png"
            id="ch.elexis.scriptsView"
            name="%view.name.5">
      </view>
      <category
            id="ch.elexis.messungenKategorie"
            name="%elexis.measurementsCategory">
      </category>
      <category
            id="ch.elexis.textKategorie"
            name="%elexis.textCategory">
      </category>
      <category
            id="ch.elexis.konsultationKategorie"
            name="%elexis.konsCategory">
      </category>
      <category
            id="ch.elexis.codesKategorie"
            name="%elexis.codesCategory">
      </category>
      <category
            id="ch.elexis.datenKategorie"
            name="%elexis.dataCategory">
      </category>
      <category
            id="ch.elexis.abrechnungKategorie"
            name="%elexis.accountingCategory">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.elexis.core.application.perspectives.ArtikelPerspektive"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/pill.png"
            id="ch.elexis.ArtikelPerspektive"
            name="%elexis.articlePerspective">
      </perspective>
      <perspective
            class="ch.elexis.core.application.perspectives.PatientPerspektive"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/group.png"
            id="ch.elexis.PatientPerspective"
            name="%elexis.patientPerspective">
      </perspective>
      <perspective
            class="ch.elexis.core.application.perspectives.AbrechnungsPerspektive"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/money.png"
            id="ch.elexis.AbrechnungPerspektive"
            name="%elexis.accountingPerspective">
         <description>
            %perspective.description.0
         </description>
      </perspective>
      <perspective
            class="ch.elexis.core.application.perspectives.LeistungPerspektive"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/coins.png"
            id="ch.elexis.LeistungPerspektive"
            name="%elexis.activityPerspective">
      </perspective>
      <perspective
            class="ch.elexis.core.application.perspectives.ReminderPerspektive"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/bell.png"
            id="ch.elexis.ReminderPerspektive"
            name="%elexis.reminderPerspective">
      </perspective>
      <perspective
            class="ch.elexis.core.application.perspectives.BriefePerspektive"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/documents_text.png"
            id="ch.elexis.BriefePerspektive"
            name="%elexis.letterPerspective">
      </perspective>
      <perspective
            class="ch.elexis.core.application.perspectives.BestellPerspektive"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/cart.png"
            id="ch.elexis.bestellperspektive"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         id="ElexisApp"
         name="Elexis"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.elexis.core.application.Desk">
         </run>
      </application>
   </extension>
 <extension
         point="ch.elexis.core.ui.Sidebar">
      <Perspektive
            ID="ch.elexis.PatientPerspective"
            icon="kons_perspective"
            name="%sidebar.kons"/>
      <Perspektive
            ID="ch.elexis.BriefePerspektive"
            icon="briefe_perspective"
            name="%sidebar.letters"/>
      <Perspektive
            ID="ch.elexis.LeistungPerspektive"
            icon="leistung_perspective"
            name="%sidebar.activities"/>
      <Perspektive
            ID="ch.elexis.ArtikelPerspektive"
            icon="artikel_perspective"
            name="%sidebar.articles"/>
      <Perspektive
            ID="ch.elexis.ReminderPerspektive"
            icon="reminder_perspective"
            name="%sidebar.reminders"/>
      <Perspektive
            ID="ch.elexis.AbrechnungPerspektive"
            icon="rechnung_perspective"
            name="%sidebar.bills"/>
      <Perspektive
            ID="ch.elexis.SchwarzesBrett"
            icon="bbs_perspective"
            name="%sidebar.bbs"/>
      <Perspektive
            ID="ch.elexis.bestellperspektive"
            icon="bestell_perspective"
            name="%sidebar.orders"/>
   </extension>
</plugin>
