<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.core.mail.ui.preference.Preference"
            id="ch.elexis.core.mail.ui.preference"
            name="E-Mail">
      </page>
      <page
            category="ch.elexis.core.mail.ui.preference"
            class="ch.elexis.core.mail.ui.preference.TextTemplates"
            id="ch.elexis.core.mail.ui.preference.texttemplates"
            name="E-Mail Vorlagen">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.elexis.core.mail.ui.handlers.SendMailHandler"
            id="ch.elexis.core.mail.ui.sendMail"
            name="Send E-Mail">
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMail.attachments"
               name="attachments"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMail.to"
               name="to"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMail.subject"
               name="subject"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMail.text"
               name="text"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMail.documents"
               name="documents"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMail.doSend "
               name="doSend"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMail.accountid"
               name="accountid"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMail.patId"
               name="patId"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="ch.elexis.core.mail.ui.handlers.SendMailNoUiHandler"
            id="ch.elexis.core.mail.ui.sendMailNoUi"
            name="Send E-Mail no UI">
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailNoUi.mandant"
               name="mandant"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailNoUi.attachments"
               name="attachments"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailNoUi.to"
               name="to"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailNoUi.subject"
               name="subject"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailNoUi.text"
               name="text"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailNoUi.accountid"
               name="accountid"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailNoUi.documents"
               name="documents"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailNoUi.doSend"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="ch.elexis.core.mail.ui.handlers.SendMailTaskHandler"
            id="ch.elexis.core.mail.ui.sendMailTask"
            name="Open Send Mail Task">
         <commandParameter
               id="ch.elexis.core.mail.ui.sendMailTaskDescriptorId"
               name="TaskDescriptorId"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ch.elexis.core.mail.ui.property.PropertyTester"
            id="ch.elexis.core.mail.ui.propertyTester"
            namespace="ch.elexis.core.mail.ui"
            properties="sendavailable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="ch.elexis.core.ui.KonsExtension">
      <Link
            KonsExtension="ch.elexis.core.mail.ui.cons.KonsExtension"
            name="ch.elexis.core.mail.ui.cons">
      </Link>
   </extension>

</plugin>
