<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="ch.elexis.core.ui.medication.AddMedication"
               icon="icon://IMG_NEW"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.ApplyCustomSorting"
               icon="icon://IMG_SORT_STAR"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <test
                    property="ch.elexis.core.ui.medication.property.showCustomSort">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsListMenu"
               icon="icon://IMG_PRINT_FIX"
               label="Einnahmeliste"
               style="pulldown">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipeMenu"
               icon="icon://IMG_RECIPE_FIX"
               label="Rezept"
               style="pulldown">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.ApplyAtcSorting"
               icon="icon://IMG_CATEGORY_GROUP"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.ui.medication.tables">
         <command
               commandId="ch.elexis.core.ui.medication.SortMove"
               label="Aufwärts in Sortierung"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="ch.elexis.core.ui.medication.property.showCustomSort">
               </test>
            </visibleWhen>
            <parameter
                  name="ch.elexis.core.ui.medication.sortmove.direction"
                  value="up">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.SortMove"
               label="Abwärts in Sortierung"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="ch.elexis.core.ui.medication.property.showCustomSort">
               </test>
            </visibleWhen>
            <parameter
                  name="ch.elexis.core.ui.medication.sortmove.direction"
                  value="down">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.SetAsSymptomaticMedication"
               icon="icon://IMG_SYMPTOM_MEDI"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.SetAsFixMedication"
               icon="icon://IMG_FIX_MEDI"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.SetAsReserveMedication"
               icon="icon://IMG_RESERVE_MEDI"
               style="push">
         </command>
         <separator
               name="ch.elexis.core.ui.medication.separator1"
               visible="true">
         </separator>
         <command
               commandId="ch.elexis.core.ui.medication.MentionInConsultation"
               icon="icon://IMG_DATA"
               style="push"
               tooltip="erstellt einen Vermerk in der aktuellen Konsultation">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.SwitchMedication"
               icon="icon://IMG_BALANCE_EDIT"
               style="push"
               tooltip="die ausgewählte Medikation durch eine andere ersetzten">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.AddArticleToOrder"
               icon="icon://IMG_CART"
               style="push">
         </command>
         <separator
               name="ch.elexis.core.ui.medication.separator2"
               visible="true">
         </separator>
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_VIEW_RECIPES"
               style="push">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="selection">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_VIEW_RECIPES"
               label="Rezept mit Adressat drucken"
               style="push">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="selection">
            </parameter>
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.address"
                  value="select">
            </parameter>
         </command>         
         <command
               commandId="ch.elexis.core.ui.medication.Dispense"
               icon="icon://IMG_VIEW_CONSULTATION_DETAIL"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINTER"
               style="push">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="selection">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.Delete"
               icon="icon://IMG_DELETE"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.elexis.core.ui.medication.PrintTakingsListMenu">
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINTER"
               label="Einnahmeliste drucken"
               style="push"
               tooltip="Einnahmeliste drucken">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="all">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINT_FIX"
               label="Fix Medikation Einnahmeliste drucken"
               style="push"
               tooltip="Fix Medikation Einnahmeliste drucken">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="fix">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINT_RESERVE"
               label="Reserve Medikation Einnahmeliste drucken"
               style="push"
               tooltip="Reserve Medikation Einnahmeliste drucken">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="reserve">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINT_SYMPTOMATIC"
               label="Symptomatische Medikation Einnahmeliste drucken"
               style="push"
               tooltip="Symptomatische Medikation Einnahmeliste drucken">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="symptomatic">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.elexis.core.ui.medication.PrintRecipeMenu">
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_VIEW_RECIPES"
               label="Medikation rezeptieren"
               style="push"
               tooltip="Medikation rezeptieren">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="all">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_RECIPE_FIX"
               label="Fix Medikation rezeptieren"
               style="push"
               tooltip="Fix Medikation rezeptieren">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="fix">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_RECIPE_RESERVE"
               label="Reserve Medikation rezeptieren"
               style="push"
               tooltip="Reserve Medikation rezeptieren">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="reserve">
            </parameter>
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_RECIPE_SYMPTOMATIC"
               label="Symptomatische Medikation rezeptieren"
               style="push"
               tooltip="Symptomatische Medikation rezeptieren">
            <parameter
                  name="ch.elexis.core.ui.medication.commandParameter.medication"
                  value="symptomatic">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ch.elexis.core.ui.medication.PrintRecipe"
            name="Rezept drucken">
         <commandParameter
               id="ch.elexis.core.ui.medication.commandParameter.medication"
               name="Medication"
               optional="true">
         </commandParameter>
         <commandParameter
               id="ch.elexis.core.ui.medication.commandParameter.address"
               name="Address"
               optional="true"
               values="select">
         </commandParameter>
      </command>
      <command
            id="ch.elexis.core.ui.medication.PrintTakingsList"
            name="Einnahmeliste drucken">
         <commandParameter
               id="ch.elexis.core.ui.medication.commandParameter.medication"
               name="Medication"
               optional="true">
         </commandParameter>
      </command>
      <command
            description="Ausgewählte Medikamente dispensieren (werden zu aktueller Konsultation verrechnet)"
            id="ch.elexis.core.ui.medication.Dispense"
            name="Dispensieren">
      </command>
      <command
            description="Ausgewählten Eintrag entfernen"
            id="ch.elexis.core.ui.medication.Delete"
            name="Löschen">
      </command>
      <command
            description="Medikation hinzufügen"
            id="ch.elexis.core.ui.medication.AddMedication"
            name="Medikation hinzufügen">
      </command>
      <command
            description="Symptomatische Medikation"
            id="ch.elexis.core.ui.medication.SetAsSymptomaticMedication"
            name="Symptomatische Medikation">
      </command>
      <command
            description="Fix Medikation"
            id="ch.elexis.core.ui.medication.SetAsFixMedication"
            name="Fix Medikation">
      </command>
      <command
            description="Reserve Medikation"
            id="ch.elexis.core.ui.medication.SetAsReserveMedication"
            name="Reserve Medikation">
      </command>
      <command
            id="ch.elexis.core.ui.medication.ApplyAtcSorting"
            name="Nach ATC- Code sortieren">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="ch.elexis.core.ui.medication.ApplyCustomSorting"
            name="Persönliche Sortierung anwenden">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            description="Vermerk in Konsultation erstellen"
            id="ch.elexis.core.ui.medication.MentionInConsultation"
            name="Vermerk in Konsultation">
      </command>
      <command
            id="ch.elexis.core.ui.medication.SwitchMedication"
            name="Medikation anpassen">
      </command>
      <command
            id="ch.elexis.core.ui.medication.AddArticleToOrder"
            name="Artikel auf Bestellliste setzen">
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.medication.handlers.DefaultPrintTakingsListHandler"
            id="ch.elexis.core.ui.medication.PrintTakingsListMenu"
            name="Einnahmeliste">
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.medication.handlers.DefaultPrintRecipeHandler"
            id="ch.elexis.core.ui.medication.PrintRecipeMenu"
            name="Rezept">
      </command>
      <command
            id="ch.elexis.core.ui.medication.SortMove"
            name="Sort move">
         <commandParameter
               id="ch.elexis.core.ui.medication.sortmove.direction"
               name="direction"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="ch.elexis.core.ui.medication.OpenArticelDetailDialog"
            name="Open Article Detail">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.elexis.core.ui.medication.handlers.PrintRecipeHandler"
            commandId="ch.elexis.core.ui.medication.PrintRecipe">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.PrintTakingsListHandler"
            commandId="ch.elexis.core.ui.medication.PrintTakingsList">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.DispenseHandler"
            commandId="ch.elexis.core.ui.medication.Dispense">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.DeleteHandler"
            commandId="ch.elexis.core.ui.medication.Delete">
         <activeWhen>
            <with
                  variable="selection">
               <not>
                  <count
                        value="0">
                  </count>
               </not>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.AddMedicationHandler"
            commandId="ch.elexis.core.ui.medication.AddMedication">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.ApplyCustomSortingHandler"
            commandId="ch.elexis.core.ui.medication.ApplyCustomSorting">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.SetAsSymptomaticMedicationHandler"
            commandId="ch.elexis.core.ui.medication.SetAsSymptomaticMedication">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with></activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.SetAsFixMedicationHandler"
            commandId="ch.elexis.core.ui.medication.SetAsFixMedication">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with></activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.SetAsReserveMedicationHandler"
            commandId="ch.elexis.core.ui.medication.SetAsReserveMedication">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.MentionInConsultationHandler"
            commandId="ch.elexis.core.ui.medication.MentionInConsultation">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.SwitchMedicationHandler"
            commandId="ch.elexis.core.ui.medication.SwitchMedication">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.AddArticleToOrderHandler"
            commandId="ch.elexis.core.ui.medication.AddArticleToOrder">
         <activeWhen>
            <with
                  variable="selection">
               <not>
                  <count
                        value="0">
                  </count>
               </not>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.SortMoveHandler"
            commandId="ch.elexis.core.ui.medication.SortMove">
         <enabledWhen>
            <test
                  property="ch.elexis.core.ui.medication.property.showCustomSort">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.OpenArticelDetailDialogHandler"
            commandId="ch.elexis.core.ui.medication.OpenArticelDetailDialog">
         <activeWhen>
            <and>
               <test
                     property="ch.elexis.core.ui.medication.property.isDefaultArticle">
               </test>
               <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.ApplyAtcSortingHandler"
            commandId="ch.elexis.core.ui.medication.ApplyAtcSorting">
      </handler>    
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.core.ui.medication.preferences.MedicationSettings"
            id="ch.elexis.core.ui.medication.settings"
            name="Medikation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ch.elexis.core.ui.medication.property.MedicationUiTester"
            id="ch.elexis.core.ui.medication.property.MedicationUiTester"
            namespace="ch.elexis.core.ui.medication.property"
            properties="showCustomSort,isDefaultArticle"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ch.elexis.core.ui.medication.SortMove"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="M1+ARROW_UP">
         <parameter
               id="ch.elexis.core.ui.medication.sortmove.direction"
               value="up">
         </parameter>
      </key>
            <key
                  commandId="ch.elexis.core.ui.medication.SortMove"
                  contextId="org.eclipse.ui.contexts.window"
                  schemeId="ch.elexis.ui.keybindingScheme"
                  sequence="M1+ARROW_DOWN">
               <parameter
                     id="ch.elexis.core.ui.medication.sortmove.direction"
                     value="down"></parameter>
      </key>
   </extension>
</plugin>
