<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="at.gruber.elexis.mythic22"/>
        <setEntry value="at.medevit.atc_codes"/>
        <setEntry value="at.medevit.atc_codes.test"/>
        <setEntry value="at.medevit.ch.artikelstamm"/>
        <setEntry value="at.medevit.ch.artikelstamm.elexis.common"/>
        <setEntry value="at.medevit.ch.artikelstamm.elexis.open"/>
        <setEntry value="at.medevit.ch.artikelstamm.medelexis"/>
        <setEntry value="at.medevit.ch.artikelstamm.model"/>
        <setEntry value="at.medevit.ch.artikelstamm.model.test"/>
        <setEntry value="at.medevit.ch.artikelstamm.ui"/>
        <setEntry value="at.medevit.elexis.abx"/>
        <setEntry value="at.medevit.elexis.abx.test"/>
        <setEntry value="at.medevit.elexis.agenda.reminder"/>
        <setEntry value="at.medevit.elexis.agenda.reminder.test"/>
        <setEntry value="at.medevit.elexis.agenda.reminder.ui"/>
        <setEntry value="at.medevit.elexis.agenda.ui"/>
        <setEntry value="at.medevit.elexis.agenda.ui.rcp"/>
        <setEntry value="at.medevit.elexis.arkray"/>
        <setEntry value="at.medevit.elexis.arkray.test"/>
        <setEntry value="at.medevit.elexis.astm"/>
        <setEntry value="at.medevit.elexis.astm.test"/>
        <setEntry value="at.medevit.elexis.barcode"/>
        <setEntry value="at.medevit.elexis.barcode.manual"/>
        <setEntry value="at.medevit.elexis.barcode.scanner"/>
        <setEntry value="at.medevit.elexis.barcode.test"/>
        <setEntry value="at.medevit.elexis.blueconnect.core"/>
        <setEntry value="at.medevit.elexis.blueconnect.ui"/>
        <setEntry value="at.medevit.elexis.bluemedication.core"/>
        <setEntry value="at.medevit.elexis.bluemedication.ui"/>
        <setEntry value="at.medevit.elexis.connect.afias6"/>
        <setEntry value="at.medevit.elexis.connect.afinion2"/>
        <setEntry value="at.medevit.elexis.connect.pocketchem"/>
        <setEntry value="at.medevit.elexis.connect.pocketchem.test"/>
        <setEntry value="at.medevit.elexis.connect.urisys1100"/>
        <setEntry value="at.medevit.elexis.connect.z3haem"/>
        <setEntry value="at.medevit.elexis.corona123"/>
        <setEntry value="at.medevit.elexis.curabill.core"/>
        <setEntry value="at.medevit.elexis.curabill.tests"/>
        <setEntry value="at.medevit.elexis.curabill.ui"/>
        <setEntry value="at.medevit.elexis.dcavantage"/>
        <setEntry value="at.medevit.elexis.disposan"/>
        <setEntry value="at.medevit.elexis.documents.converter"/>
        <setEntry value="at.medevit.elexis.documents.converter.ui"/>
        <setEntry value="at.medevit.elexis.documents.scan"/>
        <setEntry value="at.medevit.elexis.ehc.core"/>
        <setEntry value="at.medevit.elexis.ehc.core.test"/>
        <setEntry value="at.medevit.elexis.ehc.ui"/>
        <setEntry value="at.medevit.elexis.ehc.ui.example"/>
        <setEntry value="at.medevit.elexis.ehc.ui.vacdoc"/>
        <setEntry value="at.medevit.elexis.ehc.vacdoc"/>
        <setEntry value="at.medevit.elexis.ehc.vacdoc.test"/>
        <setEntry value="at.medevit.elexis.emediplan.core"/>
        <setEntry value="at.medevit.elexis.emediplan.core.test"/>
        <setEntry value="at.medevit.elexis.emediplan.ui"/>
        <setEntry value="at.medevit.elexis.epha.interactions"/>
        <setEntry value="at.medevit.elexis.gdt"/>
        <setEntry value="at.medevit.elexis.gdt.customed"/>
        <setEntry value="at.medevit.elexis.gdt.defaultfilecp"/>
        <setEntry value="at.medevit.elexis.gdt.teamw"/>
        <setEntry value="at.medevit.elexis.gdt.unilabs"/>
        <setEntry value="at.medevit.elexis.hin.auth.core"/>
        <setEntry value="at.medevit.elexis.hin.auth.ui"/>
        <setEntry value="at.medevit.elexis.hin.sign.cli.linux"/>
        <setEntry value="at.medevit.elexis.hin.sign.cli.mac"/>
        <setEntry value="at.medevit.elexis.hin.sign.cli.win"/>
        <setEntry value="at.medevit.elexis.hin.sign.core"/>
        <setEntry value="at.medevit.elexis.hin.sign.core.test"/>
        <setEntry value="at.medevit.elexis.hin.sign.ui"/>
        <setEntry value="at.medevit.elexis.igmbestellung"/>
        <setEntry value="at.medevit.elexis.impfplan"/>
        <setEntry value="at.medevit.elexis.impfplan.test"/>
        <setEntry value="at.medevit.elexis.impfplan.ui"/>
        <setEntry value="at.medevit.elexis.inbox"/>
        <setEntry value="at.medevit.elexis.inbox.core.elements"/>
        <setEntry value="at.medevit.elexis.inbox.core.ui"/>
        <setEntry value="at.medevit.elexis.inbox.ui"/>
        <setEntry value="at.medevit.elexis.kapsch.referral.ui"/>
        <setEntry value="at.medevit.elexis.laborimport.MCL"/>
        <setEntry value="at.medevit.elexis.loinc"/>
        <setEntry value="at.medevit.elexis.loinc.ui"/>
        <setEntry value="at.medevit.elexis.loinc_test"/>
        <setEntry value="at.medevit.elexis.medforms.core"/>
        <setEntry value="at.medevit.elexis.medforms.core.test"/>
        <setEntry value="at.medevit.elexis.medforms.ui"/>
        <setEntry value="at.medevit.elexis.medicosearch.core"/>
        <setEntry value="at.medevit.elexis.medicosearch.core.test"/>
        <setEntry value="at.medevit.elexis.medicosearch.ui"/>
        <setEntry value="at.medevit.elexis.medidata.box.core"/>
        <setEntry value="at.medevit.elexis.medidata.box.core.test"/>
        <setEntry value="at.medevit.elexis.medidata.box.ui"/>
        <setEntry value="at.medevit.elexis.medidata.core"/>
        <setEntry value="at.medevit.elexis.medidata.test"/>
        <setEntry value="at.medevit.elexis.medietikette"/>
        <setEntry value="at.medevit.elexis.medisupport.ui"/>
        <setEntry value="at.medevit.elexis.medisupport.ws.client"/>
        <setEntry value="at.medevit.elexis.medisupport.ws.client.test"/>
        <setEntry value="at.medevit.elexis.mepha.orders.core"/>
        <setEntry value="at.medevit.elexis.mepha.orders.test"/>
        <setEntry value="at.medevit.elexis.mepha.orders.ui"/>
        <setEntry value="at.medevit.elexis.migration.agenda"/>
        <setEntry value="at.medevit.elexis.migration.agenda.test"/>
        <setEntry value="at.medevit.elexis.migration.agenda.ui"/>
        <setEntry value="at.medevit.elexis.migration.befunde"/>
        <setEntry value="at.medevit.elexis.migration.befunde.test"/>
        <setEntry value="at.medevit.elexis.migration.befunde.ui"/>
        <setEntry value="at.medevit.elexis.migration.core"/>
        <setEntry value="at.medevit.elexis.migration.core.test"/>
        <setEntry value="at.medevit.elexis.migration.core.ui"/>
        <setEntry value="at.medevit.elexis.migration.omnivore"/>
        <setEntry value="at.medevit.elexis.migration.omnivore.ui"/>
        <setEntry value="at.medevit.elexis.migration.percentile"/>
        <setEntry value="at.medevit.elexis.migration.percentile.test"/>
        <setEntry value="at.medevit.elexis.migration.percentile.ui"/>
        <setEntry value="at.medevit.elexis.outbox"/>
        <setEntry value="at.medevit.elexis.outbox.ui"/>
        <setEntry value="at.medevit.elexis.pdfocrmetadata"/>
        <setEntry value="at.medevit.elexis.pdfocrmetadata.model"/>
        <setEntry value="at.medevit.elexis.pdfocrmetadata.test"/>
        <setEntry value="at.medevit.elexis.perspective"/>
        <setEntry value="at.medevit.elexis.perspective.ui"/>
        <setEntry value="at.medevit.elexis.rdus.client"/>
        <setEntry value="at.medevit.elexis.rdus.fhir"/>
        <setEntry value="at.medevit.elexis.rdus.model"/>
        <setEntry value="at.medevit.elexis.roche.labor"/>
        <setEntry value="at.medevit.elexis.roche.labor.test"/>
        <setEntry value="at.medevit.elexis.stock.wwks2"/>
        <setEntry value="at.medevit.elexis.swissmedic"/>
        <setEntry value="at.medevit.elexis.tarmed.model"/>
        <setEntry value="at.medevit.elexis.tarmed.model.tests"/>
        <setEntry value="at.medevit.elexis.tel.search"/>
        <setEntry value="at.medevit.elexis.tel.search.test"/>
        <setEntry value="at.medevit.elexis.tel.search.ui"/>
        <setEntry value="at.medevit.elexis.text.docx"/>
        <setEntry value="at.medevit.elexis.watchbpo"/>
        <setEntry value="at.medevit.elexis.weblinks"/>
        <setEntry value="at.medevit.medelexis.blueevidence"/>
        <setEntry value="at.medevit.medelexis.blueevidence_test"/>
        <setEntry value="at.medevit.medelexis.buchhaltung"/>
        <setEntry value="at.medevit.medelexis.buchhaltung.medix"/>
        <setEntry value="at.medevit.medelexis.buchhaltung.test"/>
        <setEntry value="at.medevit.medelexis.hin.auth.core.id"/>
        <setEntry value="at.medevit.medelexis.ui.statushandler"/>
        <setEntry value="at.medevit.medelexis.ui.statushandler.binding"/>
        <setEntry value="at.medevit.medelexis.ui.statushandler.qualityfeedback"/>
        <setEntry value="at.medevit.medelexis.vat_ch"/>
        <setEntry value="at.medevit.medelexis.vat_ch_test"/>
        <setEntry value="at.medevit.medelexis.vatstatistics_ch"/>
        <setEntry value="at.medevit.redmine.mis"/>
        <setEntry value="at.medevit.redmine.rest"/>
        <setEntry value="at.medevit.redmine.rest.test"/>
        <setEntry value="at.medevit.wwks2"/>
        <setEntry value="at.medevit.wwks2.test"/>
        <setEntry value="ch.berchtold.privatrechnung"/>
        <setEntry value="ch.docbox.elexis"/>
        <setEntry value="ch.docbox.product_key"/>
        <setEntry value="ch.elexis.agenda"/>
        <setEntry value="ch.elexis.archie.patientstatistik"/>
        <setEntry value="ch.elexis.archie.wzw"/>
        <setEntry value="ch.elexis.arzttarif.complementary.bill"/>
        <setEntry value="ch.elexis.barcode.scanner"/>
        <setEntry value="ch.elexis.base.befunde"/>
        <setEntry value="ch.elexis.base.ch.arzttarife"/>
        <setEntry value="ch.elexis.base.ch.arzttarife.model"/>
        <setEntry value="ch.elexis.base.ch.arzttarife.model.test"/>
        <setEntry value="ch.elexis.base.ch.arzttarife.test"/>
        <setEntry value="ch.elexis.base.ch.diagnosecodes"/>
        <setEntry value="ch.elexis.base.ch.ebanking"/>
        <setEntry value="ch.elexis.base.ch.ebanking.test"/>
        <setEntry value="ch.elexis.base.ch.feature.branding"/>
        <setEntry value="ch.elexis.base.ch.icd10"/>
        <setEntry value="ch.elexis.base.ch.labortarif.model"/>
        <setEntry value="ch.elexis.base.ch.labortarif_2009"/>
        <setEntry value="ch.elexis.base.ch.migel"/>
        <setEntry value="ch.elexis.base.ch.migel.test"/>
        <setEntry value="ch.elexis.base.ch.ticode"/>
        <setEntry value="ch.elexis.base.konsextension.bildanzeige"/>
        <setEntry value="ch.elexis.base.konsextension.privatnotizen"/>
        <setEntry value="ch.elexis.base.messages"/>
        <setEntry value="ch.elexis.base.solr"/>
        <setEntry value="ch.elexis.base.solr.test"/>
        <setEntry value="ch.elexis.base.solr.ui"/>
        <setEntry value="ch.elexis.bestellung.galexis"/>
        <setEntry value="ch.elexis.bestellung.medicom"/>
        <setEntry value="ch.elexis.bestellung.mephateva"/>
        <setEntry value="ch.elexis.bestellung.spirig"/>
        <setEntry value="ch.elexis.bestellung.xmed"/>
        <setEntry value="ch.elexis.buchhaltung.basis"/>
        <setEntry value="ch.elexis.connect.abxmicros"/>
        <setEntry value="ch.elexis.connect.afinion"/>
        <setEntry value="ch.elexis.connect.afinion.test"/>
        <setEntry value="ch.elexis.connect.fuji.drichem3500"/>
        <setEntry value="ch.elexis.connect.labgeo.hc10"/>
        <setEntry value="ch.elexis.connect.labgeo.poct1"/>
        <setEntry value="ch.elexis.connect.mythic"/>
        <setEntry value="ch.elexis.connect.poct1"/>
        <setEntry value="ch.elexis.connect.poct1.test"/>
        <setEntry value="ch.elexis.connect.reflotron.v2"/>
        <setEntry value="ch.elexis.connect.reflotron.v2test"/>
        <setEntry value="ch.elexis.connect.roche.baseunithub"/>
        <setEntry value="ch.elexis.connect.rochebaseunit"/>
        <setEntry value="ch.elexis.connect.swelab"/>
        <setEntry value="ch.elexis.connect.sysmex"/>
        <setEntry value="ch.elexis.connect.sysmex.test"/>
        <setEntry value="ch.elexis.connect.urilux"/>
        <setEntry value="ch.elexis.connector.be"/>
        <setEntry value="ch.elexis.core"/>
        <setEntry value="ch.elexis.core.application"/>
        <setEntry value="ch.elexis.core.coding"/>
        <setEntry value="ch.elexis.core.coding.test"/>
        <setEntry value="ch.elexis.core.data"/>
        <setEntry value="ch.elexis.core.data.tests"/>
        <setEntry value="ch.elexis.core.documents"/>
        <setEntry value="ch.elexis.core.eigenartikel"/>
        <setEntry value="ch.elexis.core.eigendiagnosen"/>
        <setEntry value="ch.elexis.core.fhir.model"/>
        <setEntry value="ch.elexis.core.fhir.model.test"/>
        <setEntry value="ch.elexis.core.findings"/>
        <setEntry value="ch.elexis.core.findings.fhir.model"/>
        <setEntry value="ch.elexis.core.findings.fhir.po"/>
        <setEntry value="ch.elexis.core.findings.templates"/>
        <setEntry value="ch.elexis.core.findings.templates.edit"/>
        <setEntry value="ch.elexis.core.findings.templates.po"/>
        <setEntry value="ch.elexis.core.findings.templates.ui"/>
        <setEntry value="ch.elexis.core.findings.test"/>
        <setEntry value="ch.elexis.core.findings.ui"/>
        <setEntry value="ch.elexis.core.findings.util"/>
        <setEntry value="ch.elexis.core.findings.util.test"/>
        <setEntry value="ch.elexis.core.hl7.v2x"/>
        <setEntry value="ch.elexis.core.hl7.v2x.tests"/>
        <setEntry value="ch.elexis.core.importer.div"/>
        <setEntry value="ch.elexis.core.jpa"/>
        <setEntry value="ch.elexis.core.jpa.datasource"/>
        <setEntry value="ch.elexis.core.jpa.entities"/>
        <setEntry value="ch.elexis.core.jpa.entities.test"/>
        <setEntry value="ch.elexis.core.jpa.logging.slf4j"/>
        <setEntry value="ch.elexis.core.jpa.test"/>
        <setEntry value="ch.elexis.core.jpa.ui"/>
        <setEntry value="ch.elexis.core.l10n"/>
        <setEntry value="ch.elexis.core.logging.default_configuration"/>
        <setEntry value="ch.elexis.core.logging.osgi"/>
        <setEntry value="ch.elexis.core.mail"/>
        <setEntry value="ch.elexis.core.mail.test"/>
        <setEntry value="ch.elexis.core.mail.ui"/>
        <setEntry value="ch.elexis.core.mail.ui.test"/>
        <setEntry value="ch.elexis.core.matrix.client"/>
        <setEntry value="ch.elexis.core.mediorder.mail.task"/>
        <setEntry value="ch.elexis.core.messaging.matrix"/>
        <setEntry value="ch.elexis.core.model"/>
        <setEntry value="ch.elexis.core.model.test"/>
        <setEntry value="ch.elexis.core.pdfbox"/>
        <setEntry value="ch.elexis.core.pdfbox.ui"/>
        <setEntry value="ch.elexis.core.product"/>
        <setEntry value="ch.elexis.core.rcp"/>
        <setEntry value="ch.elexis.core.scripting.beanshell"/>
        <setEntry value="ch.elexis.core.serial"/>
        <setEntry value="ch.elexis.core.serial.test"/>
        <setEntry value="ch.elexis.core.services"/>
        <setEntry value="ch.elexis.core.services.test"/>
        <setEntry value="ch.elexis.core.services.test.ws"/>
        <setEntry value="ch.elexis.core.services.test.ws-bind"/>
        <setEntry value="ch.elexis.core.spotlight"/>
        <setEntry value="ch.elexis.core.spotlight.ui"/>
        <setEntry value="ch.elexis.core.tasks"/>
        <setEntry value="ch.elexis.core.tasks.test"/>
        <setEntry value="ch.elexis.core.test"/>
        <setEntry value="ch.elexis.core.test.context"/>
        <setEntry value="ch.elexis.core.test.logging"/>
        <setEntry value="ch.elexis.core.text.docx"/>
        <setEntry value="ch.elexis.core.text.docx.test"/>
        <setEntry value="ch.elexis.core.ui"/>
        <setEntry value="ch.elexis.core.ui.contacts"/>
        <setEntry value="ch.elexis.core.ui.dbcheck"/>
        <setEntry value="ch.elexis.core.ui.documents"/>
        <setEntry value="ch.elexis.core.ui.e4"/>
        <setEntry value="ch.elexis.core.ui.eenv"/>
        <setEntry value="ch.elexis.core.ui.eigenartikel"/>
        <setEntry value="ch.elexis.core.ui.eigendiagnosen"/>
        <setEntry value="ch.elexis.core.ui.icons"/>
        <setEntry value="ch.elexis.core.ui.importer.div"/>
        <setEntry value="ch.elexis.core.ui.importer.div.native64"/>
        <setEntry value="ch.elexis.core.ui.importer.div.tests"/>
        <setEntry value="ch.elexis.core.ui.laboratory"/>
        <setEntry value="ch.elexis.core.ui.medication"/>
        <setEntry value="ch.elexis.core.ui.mediorder"/>
        <setEntry value="ch.elexis.core.ui.p2"/>
        <setEntry value="ch.elexis.core.ui.perspective"/>
        <setEntry value="ch.elexis.core.ui.reminder"/>
        <setEntry value="ch.elexis.core.ui.stock"/>
        <setEntry value="ch.elexis.core.ui.tasks"/>
        <setEntry value="ch.elexis.core.ui.tests"/>
        <setEntry value="ch.elexis.core.ui.usage"/>
        <setEntry value="ch.elexis.core.webdav"/>
        <setEntry value="ch.elexis.core.webdav.test"/>
        <setEntry value="ch.elexis.covercard"/>
        <setEntry value="ch.elexis.covid.cert"/>
        <setEntry value="ch.elexis.docbox.ws.client"/>
        <setEntry value="ch.elexis.docbox.ws.client.product_key"/>
        <setEntry value="ch.elexis.docbox.ws.client.test"/>
        <setEntry value="ch.elexis.ebanking"/>
        <setEntry value="ch.elexis.ebanking.qr"/>
        <setEntry value="ch.elexis.ebanking.qr.test"/>
        <setEntry value="ch.elexis.ebanking.tests"/>
        <setEntry value="ch.elexis.estudio.clustertec"/>
        <setEntry value="ch.elexis.externe_dokumente"/>
        <setEntry value="ch.elexis.externe_dokumente.tests"/>
        <setEntry value="ch.elexis.fire.core"/>
        <setEntry value="ch.elexis.fire.core.test"/>
        <setEntry value="ch.elexis.fire.core.upload"/>
        <setEntry value="ch.elexis.fire.ui"/>
        <setEntry value="ch.elexis.fop.service"/>
        <setEntry value="ch.elexis.fop.service.test"/>
        <setEntry value="ch.elexis.fop_wrapper"/>
        <setEntry value="ch.elexis.global_inbox"/>
        <setEntry value="ch.elexis.global_inbox.core"/>
        <setEntry value="ch.elexis.hl7.message.core"/>
        <setEntry value="ch.elexis.hl7.message.ui"/>
        <setEntry value="ch.elexis.hnet"/>
        <setEntry value="ch.elexis.icpc"/>
        <setEntry value="ch.elexis.icpc.model"/>
        <setEntry value="ch.elexis.impfplan"/>
        <setEntry value="ch.elexis.importer.achilles.core"/>
        <setEntry value="ch.elexis.importer.achilles.core.test"/>
        <setEntry value="ch.elexis.importer.achilles.ui"/>
        <setEntry value="ch.elexis.importer.aeskulap.core"/>
        <setEntry value="ch.elexis.importer.aeskulap.core.test"/>
        <setEntry value="ch.elexis.importer.aeskulap.ui"/>
        <setEntry value="ch.elexis.importer.triamed.core"/>
        <setEntry value="ch.elexis.importer.triamed.core.test"/>
        <setEntry value="ch.elexis.importer.triamed.ui"/>
        <setEntry value="ch.elexis.importer.vitodata.core"/>
        <setEntry value="ch.elexis.importer.vitodata.core.test"/>
        <setEntry value="ch.elexis.importer.vitodata.ui"/>
        <setEntry value="ch.elexis.kassenbuch"/>
        <setEntry value="ch.elexis.laborimport.analytica"/>
        <setEntry value="ch.elexis.laborimport.badena"/>
        <setEntry value="ch.elexis.laborimport.bioanalytica"/>
        <setEntry value="ch.elexis.laborimport.eurolyser"/>
        <setEntry value="ch.elexis.laborimport.guentert"/>
        <setEntry value="ch.elexis.laborimport.hl7.allg"/>
        <setEntry value="ch.elexis.laborimport.logolab"/>
        <setEntry value="ch.elexis.laborimport.medica"/>
        <setEntry value="ch.elexis.laborimport.medics.v2"/>
        <setEntry value="ch.elexis.laborimport.synlab"/>
        <setEntry value="ch.elexis.laborimport.synlab.v2"/>
        <setEntry value="ch.elexis.laborimport.teamw"/>
        <setEntry value="ch.elexis.laborimport.viollier.v2"/>
        <setEntry value="ch.elexis.laborimport.viollier.v2_test"/>
        <setEntry value="ch.elexis.laborimport_krech"/>
        <setEntry value="ch.elexis.laborimport_labtop"/>
        <setEntry value="ch.elexis.laborimport_lg1"/>
        <setEntry value="ch.elexis.laborimport_risch"/>
        <setEntry value="ch.elexis.laborimport_rischbern"/>
        <setEntry value="ch.elexis.laborimport_rothen"/>
        <setEntry value="ch.elexis.laborimport_unilabs"/>
        <setEntry value="ch.elexis.laborimport_unilabs_mittelland"/>
        <setEntry value="ch.elexis.laborimport_viollier"/>
        <setEntry value="ch.elexis.labororder.analytica"/>
        <setEntry value="ch.elexis.labororder.lg1"/>
        <setEntry value="ch.elexis.labororder.lg1_medicalvalues"/>
        <setEntry value="ch.elexis.mediserv"/>
        <setEntry value="ch.elexis.mednet.webapi.core"/>
        <setEntry value="ch.elexis.mednet.webapi.openid"/>
        <setEntry value="ch.elexis.mednet.webapi.ui"/>
        <setEntry value="ch.elexis.molemax"/>
        <setEntry value="ch.elexis.notes"/>
        <setEntry value="ch.elexis.omnivore"/>
        <setEntry value="ch.elexis.omnivore.data"/>
        <setEntry value="ch.elexis.omnivore.data.tests"/>
        <setEntry value="ch.elexis.omnivore.model"/>
        <setEntry value="ch.elexis.omnivore.ui"/>
        <setEntry value="ch.elexis.pdfBills"/>
        <setEntry value="ch.elexis.pdfBills.privat"/>
        <setEntry value="ch.elexis.pdfBills.test"/>
        <setEntry value="ch.elexis.privatrechnung"/>
        <setEntry value="ch.elexis.rezept.zurrose"/>
        <setEntry value="ch.elexis.rezept.zurrose_test"/>
        <setEntry value="ch.elexis.shared.core"/>
        <setEntry value="ch.elexis.stickynotes"/>
        <setEntry value="ch.elexis.support.dbshaker"/>
        <setEntry value="ch.elexis.tasks.integration.test"/>
        <setEntry value="ch.elexis.timer"/>
        <setEntry value="ch.framsteg.elexis.administration.covercard"/>
        <setEntry value="ch.framsteg.elexis.docbox.fragment"/>
        <setEntry value="ch.framsteg.elexis.finance.analytics"/>
        <setEntry value="ch.framsteg.elexis.hin.auth.fragment"/>
        <setEntry value="ch.framsteg.elexis.labor.teamw"/>
        <setEntry value="ch.gpb.elexis.cst"/>
        <setEntry value="ch.itmed.fop.printing"/>
        <setEntry value="ch.itmed.fop.printing.ui"/>
        <setEntry value="ch.itmed.lmz.risch.laborder"/>
        <setEntry value="ch.medelexis.application"/>
        <setEntry value="ch.medelexis.application.imp"/>
        <setEntry value="ch.medelexis.application.product"/>
        <setEntry value="ch.medelexis.application.provisioning"/>
        <setEntry value="ch.medelexis.application.provisioning.test"/>
        <setEntry value="ch.medelexis.covid.cert.keys"/>
        <setEntry value="ch.medelexis.galexis"/>
        <setEntry value="ch.medelexis.gcal.sync"/>
        <setEntry value="ch.medelexis.gcal.sync.core"/>
        <setEntry value="ch.medelexis.konsliste"/>
        <setEntry value="ch.medelexis.konslistev2"/>
        <setEntry value="ch.medelexis.laborverordnungen"/>
        <setEntry value="ch.medelexis.medication.ui"/>
        <setEntry value="ch.medelexis.mednet.webapi.id"/>
        <setEntry value="ch.medelexis.messaging.ibasis"/>
        <setEntry value="ch.medelexis.messaging.ibasis.ui"/>
        <setEntry value="ch.medelexis.omnivore.ocr.task"/>
        <setEntry value="ch.medelexis.pea"/>
        <setEntry value="ch.medelexis.pea.mediorder"/>
        <setEntry value="ch.medelexis.pea.mediorder.task"/>
        <setEntry value="ch.medelexis.pea.mediorder.test"/>
        <setEntry value="ch.medelexis.pea.mediorder.ui"/>
        <setEntry value="ch.medelexis.pea.test"/>
        <setEntry value="ch.medelexis.pea.ui"/>
        <setEntry value="ch.medelexis.pregnancychecklist"/>
        <setEntry value="ch.medelexis.pregnancychecklist.test"/>
        <setEntry value="ch.medelexis.pregnancychecklist.ui"/>
        <setEntry value="ch.medelexis.rockethealth"/>
        <setEntry value="ch.medelexis.twitter"/>
        <setEntry value="ch.medelexis.xchange"/>
        <setEntry value="ch.medelexis.xchange.test"/>
        <setEntry value="ch.medix.elexis"/>
        <setEntry value="ch.medshare.connect.abacusjunior"/>
        <setEntry value="ch.medshare.connect.abacusjunior.test"/>
        <setEntry value="ch.medshare.elexis_directories"/>
        <setEntry value="ch.medshare.elexis_directories.test"/>
        <setEntry value="ch.medshare.importer.csv"/>
        <setEntry value="ch.netzkonzept.elexis.medidata"/>
        <setEntry value="ch.ngiger.utilities.comm"/>
        <setEntry value="ch.novcom.elexis.mednet.plugin"/>
        <setEntry value="ch.pharmed.phmprescriber"/>
        <setEntry value="ch.pharmed.phmprescriber_test"/>
        <setEntry value="ch.rgw.utility"/>
        <setEntry value="ch.rgw.utility.legacy"/>
        <setEntry value="ch.rgw.utility.tests"/>
        <setEntry value="ch.unibe.iam.scg.archie"/>
        <setEntry value="ch.unibe.iam.scg.archie.samples"/>
        <setEntry value="ch.vality.dicom.viewer"/>
        <setEntry value="codetest"/>
        <setEntry value="com.actavis.medidirect"/>
        <setEntry value="com.hilotec.elexis.kgview"/>
        <setEntry value="com.hilotec.elexis.messwerte.v2"/>
        <setEntry value="com.hilotec.elexis.messwerte.v2_test"/>
        <setEntry value="com.hilotec.elexis.pluginstatistiken"/>
        <setEntry value="com.hilotec.elexis.stickerprefix"/>
        <setEntry value="de.joji.matrixclientserver"/>
        <setEntry value="es.gogo.shell"/>
        <setEntry value="info.elexis.jaxrs.service"/>
        <setEntry value="info.elexis.jaxrs.service.test"/>
        <setEntry value="info.elexis.server.core"/>
        <setEntry value="info.elexis.server.core.common"/>
        <setEntry value="info.elexis.server.core.connector.elexis"/>
        <setEntry value="info.elexis.server.core.connector.elexis.test"/>
        <setEntry value="info.elexis.server.core.logging"/>
        <setEntry value="info.elexis.server.core.p2"/>
        <setEntry value="info.elexis.server.core.redmine"/>
        <setEntry value="info.elexis.server.fhir.rest.core"/>
        <setEntry value="info.elexis.server.fhir.rest.core.test"/>
        <setEntry value="info.elexis.server.findings.fhir.jpa.service"/>
        <setEntry value="io.curity.oauth.filter.testcert"/>
        <setEntry value="net.medshare.connector.aerztekasse"/>
        <setEntry value="net.medshare.connector.aerztekasse_test"/>
        <setEntry value="net.medshare.connector.viollier"/>
        <setEntry value="net.medshare.connector.viollier_test"/>
        <setEntry value="net.medshare.percentile.v2"/>
        <setEntry value="net.medshare.percentile.v2_test"/>
        <setEntry value="org.apache.felix.gogo.shell.contribution"/>
        <setEntry value="org.iatrix.bestellung.pharmapool"/>
        <setEntry value="org.iatrix.bestellung.pharmapool_test"/>
        <setEntry value="org.iatrix.bestellung.rose"/>
        <setEntry value="org.iatrix.bestellung.rose.id"/>
        <setEntry value="org.iatrix.bestellung.rose_test"/>
        <setEntry value="org.iatrix.help.wiki"/>
        <setEntry value="org.iatrix.messwerte"/>
        <setEntry value="waelti.statistics"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.DisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.EnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterEnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsEnabledIds"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ch.elexis.core.jcifs.test"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=ch.elexis.core.jcifs.test"/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch.elexis.core.jcifs.test"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="info.elexis.server.core.ElexisServer"/>
    <booleanAttribute key="run_in_ui_thread" value="false"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcprov@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="jakarta.annotation-api@default:default"/>
        <setEntry value="jakarta.inject.jakarta.inject-api@default:default"/>
        <setEntry value="jcl.over.slf4j@default:default"/>
        <setEntry value="org.apache.aries.spifly.dynamic.bundle@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.commons-io*2.18.0@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.macosx@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt.cocoa@default:false"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt.nl_de@default:false"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt.nl_fr@default:false"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt.nl_it@default:false"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt.nl_de@default:false"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt.nl_fr@default:false"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt.nl_it@default:false"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.jdt.junit4.runtime@default:default"/>
        <setEntry value="org.eclipse.jetty.ee10.osgi.alpn.fragment@default:false"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.nl_de@default:false"/>
        <setEntry value="org.eclipse.jface.nl_fr@default:false"/>
        <setEntry value="org.eclipse.jface.nl_it@default:false"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.orbit.xml-apis-ext@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.eclipse.pde.junit.runtime@default:default"/>
        <setEntry value="org.eclipse.swt.cocoa.macosx.aarch64@default:false"/>
        <setEntry value="org.eclipse.swt.nl_de@default:false"/>
        <setEntry value="org.eclipse.swt.nl_fr@default:false"/>
        <setEntry value="org.eclipse.swt.nl_it@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.ui.cocoa@default:false"/>
        <setEntry value="org.eclipse.ui.nl_de@default:false"/>
        <setEntry value="org.eclipse.ui.nl_fr@default:false"/>
        <setEntry value="org.eclipse.ui.nl_it@default:false"/>
        <setEntry value="org.eclipse.ui.workbench.nl_de@default:false"/>
        <setEntry value="org.eclipse.ui.workbench.nl_fr@default:false"/>
        <setEntry value="org.eclipse.ui.workbench.nl_it@default:false"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.hamcrest@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.objectweb.asm*9.7.1@default:default"/>
        <setEntry value="org.objectweb.asm.commons*9.7.1@default:default"/>
        <setEntry value="org.objectweb.asm.tree*9.7.1@default:default"/>
        <setEntry value="org.objectweb.asm.tree.analysis@default:default"/>
        <setEntry value="org.objectweb.asm.util@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="slf4j.osgi@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="ch.elexis.core.jcifs.test@default:false"/>
        <setEntry value="ch.elexis.core.jcifs@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
