<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.core.findings.fhir.po.factory.PersistentObjectFactory">
      </Factory>
   </extension>
   <extension
         point="ch.elexis.core.data.DataAccess">
      <DataAccess
            class="ch.elexis.core.findings.fhir.po.dataaccess.FindingsDataAccessor"
            name="Befunde">
      </DataAccess>
      <TextPlaceHolder
            name="Risiken"
            resolver="ch.elexis.core.findings.fhir.po.text.RiskResolver"
            type="ch.elexis.data.Patient">
      </TextPlaceHolder>
      <TextPlaceHolder
            name="Diagnosen"
            resolver="ch.elexis.core.findings.fhir.po.text.DiagnosisResolver"
            type="ch.elexis.data.Patient">
      </TextPlaceHolder>
      <TextPlaceHolder
            name="PersAnamnese"
            resolver="ch.elexis.core.findings.fhir.po.text.PersAnamnesisResolver"
            type="ch.elexis.data.Patient">
      </TextPlaceHolder>
      <TextPlaceHolder
            name="Allergien"
            resolver="ch.elexis.core.findings.fhir.po.text.AllergiesResolver"
            type="ch.elexis.data.Patient">
      </TextPlaceHolder>
      <TextPlaceHolder
            name="FamilienAnamnese"
            resolver="ch.elexis.core.findings.fhir.po.text.FamAnamnesisResolver"
            type="ch.elexis.data.Patient">
      </TextPlaceHolder>
   </extension>

</plugin>
