<configuration scan="true">

	<contextName>elexis-test</contextName>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="OSGI" level="WARN" /> <!-- OsgiSl4fjLoggingAdapter -->
	<logger name="PLATFORM" level="INFO" /> 
	
	<logger name="org.eclipse.persistence" level="WARN" />
	<logger name="org.eclipse.jetty.ee10" level="INFO" />
	<logger name="org.apache" level="INFO" />
	<logger name="ch.qos.logback" level="INFO" />
	<logger name="liquibase" level="WARN" />
	<logger name="liquibase.util" level="WARN" />
	<logger name="liquibase.executor" level="WARN" />
	<logger name="org.apache.commons.httpclient" level="WARN" />
	<logger name="ca.uhn.fhir" level="INFO" />
	<logger name="org.docx4j" level="WARN" />
	<logger name="httpclient.wire" level="WARN" />
	<logger name="Framework Event Dispatcher" level="WARN" />
	<logger name="ch.qos.logback.classic.joran.action.LoggerAction"
		level="INFO" />
	<logger name="ca.uhn.hl7v2.parser" level="INFO" />

	<root level="${root.level:-DEBUG}">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
