<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.core.findings.ui.preferences.FindingsSettings"
            id="ch.elexis.core.findings.ui"
            name="Befunde">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.ui.ViewContribution">
      <detailComposite
            class="ch.elexis.core.findings.ui.viewcontributions.DiagnoseViewContribution"
            viewId="ch.elexis.PatDetail_v2">
      </detailComposite>
      <detailComposite
            class="ch.elexis.core.findings.ui.viewcontributions.PersonalAnamnesisViewContribution"
            viewId="ch.elexis.PatDetail_v2">
      </detailComposite>
      <detailComposite
            class="ch.elexis.core.findings.ui.viewcontributions.RiskViewContribution"
            viewId="ch.elexis.PatDetail_v2">
      </detailComposite>
      <detailComposite
            class="ch.elexis.core.findings.ui.viewcontributions.FamilyAnamnesisViewContribution"
            viewId="ch.elexis.PatDetail_v2">
      </detailComposite>
      <detailComposite
            class="ch.elexis.core.findings.ui.viewcontributions.AllergyIntoleranceViewContribution"
            viewId="ch.elexis.PatDetail_v2">
      </detailComposite>
   </extension>
   <extension
         point="ch.elexis.core.ui.KonsExtension">
      <Link
            KonsExtension="ch.elexis.core.findings.ui.cons.KonsExtension"
            name="ch.elexis.core.findings.ui.cons">
      </Link>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.elexis.core.findings.ui.handler.FindingDeleteHandler"
            id="ch.elexis.core.findings.ui.commandDelete"
            name="Delete Finding">
      </command>
      <command
            defaultHandler="ch.elexis.core.findings.ui.handler.FindingEditHandler"
            id="ch.elexis.core.findings.ui.commandEdit"
            name="Edit Finding">
      </command>
      <command
            defaultHandler="ch.elexis.core.findings.ui.handler.SelectVisibleCodesHandler"
            id="ch.elexis.core.findings.ui.command.codes.visible"
            name="Select visible codes">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.core.findings.ui.views.FindingsViewDynamic"
            icon="icons/chart_curve.png"
            id="ch.elexis.core.findings.ui.views.FindingsView"
            name="Befunde Neu">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.findings.ui.views.FindingsView">
         <command
               commandId="ch.elexis.core.findings.ui.commandDelete"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/delete.gif"
               label="Löschen"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.findings.ui.commandEdit"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/edit.png"
               label="Bearbeiten"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.findings.ui.views.FindingsView">
         <command
               commandId="ch.elexis.core.findings.ui.command.codes.visible"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/filter.gif"
               label="Codes Sichtbarkeit"
               style="push">
         </command>
      </menuContribution>
    </extension>  
</plugin>
