<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="geonames" name="geonames" schema="schema/geonames.exsd"/>
   <extension
         point="org.eclipse.ui.views">
	<view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.contacts.views.KontakteView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/kontakte_view.png"
            id="ch.elexis.Kontakte"
            name="%view.contacts.name">
      </view>
            <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.core.ui.contacts.views.KontaktDetailView"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/kontaktdetail_view.png"
            id="ch.elexis.KontaktDetailView"
            name="%elexis.contactDetailView">
      </view>
            <category
                  id="ch.elexis.core.ui.contacts"
                  name="%category.contactManagement.name">
            </category>
            <view
                  category="ch.elexis.core.ui.contacts"
                  class="ch.elexis.core.ui.contacts.views.ContactSelectorView"
                  icon="icon://IMG_GROUP"
                  id="ch.elexis.core.ui.contacts.views.ContactSelectorView"
                  name="%view.contacts.name"
                  restorable="true">
            </view>
            <view
                  category="ch.elexis.core.ui.contacts"
                  class="ch.elexis.core.ui.contacts.views.ContactPropertiesView"
                  icon="icon://IMG_CONTACT_DETAIL"
                  id="ch.elexis.core.ui.contacts.views.ContactPropertiesView"
                  name="%view.contactProperties.name"
                  restorable="true">
               <description>
                  %view.contactProperties.description
               </description>
            </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
                  <perspective
            class="ch.elexis.core.ui.contacts.perspectives.AdressPerspektive"
            icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/address_book.png"
            id="ch.elexis.AdressPerspektive"
            name="%elexis.addressPerspective">
      </perspective>
   </extension>
   <extension
         point="ch.elexis.core.ui.Sidebar">
      <Perspektive
            ID="ch.elexis.AdressPerspektive"
            icon="contact_perspective"
            name="%sidebar.contacts">
      </Perspektive>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.core.ui.contacts.preferences.UserSettings2"
            id="ch.elexis.userSetting2"
            name="%page.name.2">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.contacts.views.ContactSelectorView">
         <command
               commandId="at.medevit.elexis.contacts.core.command.AddContact"
               label="%command.addContact.person.label"
               style="push">
            <parameter
                  name="at.medevit.elexis.contacts.core.command.AddContact.ContactType"
                  value="PERSON">
            </parameter>
         </command>
         <command
               commandId="at.medevit.elexis.contacts.core.command.AddContact"
               label="%command.addContact.organisation.label"
               style="push">
            <parameter
                  name="at.medevit.elexis.contacts.core.command.AddContact.ContactType"
                  value="ORGANIZATION">
            </parameter>
         </command>
         <command
               commandId="at.medevit.elexis.contacts.core.command.AdvancedFilterCommand"
               id="at.medevit.elexis.contacts.core.command.AdvancedFilterCommand"
               label="%command.advancedFilterCommand.label"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.ui.contacts.views.ContactSelectorView">
         <menu
               label="%menu.sticker.label">
            <dynamic
                  class="ch.elexis.core.ui.contacts.dynamic.KontaktStickerSwitcher"
                  id="at.medevit.elexis.contacts.dynamic.KontaktStickerSwitcher">
            </dynamic>
            <separator
                  name="at.medevit.elexis.contacts.core.separator.1"
                  visible="true">
            </separator>
            <command
                  commandId="at.medevit.elexis.contacts.core.command.OpenStickerPreferencePage"
                  label="%command.openStickerPreferencePage.label"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.roles.label">
            <dynamic
                  class="ch.elexis.core.ui.contacts.dynamic.KontaktRollenSwitcher"
                  id="at.medevit.elexis.contacts.dynamic.KontaktRollenSwitcher">
            </dynamic>
         </menu>
         <separator
               name="ch.elexis.core.application.view.contactSelector.separator"
               visible="true">
         </separator>
         <menu
               label="%menu.sorter.label">
            <dynamic
                  class="ch.elexis.core.ui.contacts.dynamic.ContactSorterSwitcher"
                  id="at.medevit.elexis.contacts.dynamic.ContactSorterSwitcher">
            </dynamic>
         </menu>
         <command
               commandId="at.medevit.elexis.contacts.core.command.ContactRemoveMarkAsDeleted"
               label="%command.contactRemoveMarkAsDeleted.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           forcePluginActivation="true"
                           property="ch.elexis.commands.propertyTester.contact.isDeleted">
                     </test>
                     <instanceof
                           value="ch.elexis.core.data.beans.ContactBean">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="at.medevit.elexis.contacts.core.command.ContactMarkAsDeleted"
               label="%command.contactMarkAsDeleted.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="ch.elexis.core.data.beans.ContactBean">
                     </instanceof>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="ch.elexis.commands.propertyTester.contact.isDeleted">
                        </test>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="at.medevit.elexis.contacts.core.command.EraseContactFromDatabase"
               label="%command.eraseContactFromDatabase.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           forcePluginActivation="true"
                           property="ch.elexis.commands.propertyTester.contact.isDeleted">
                     </test>
                     <instanceof
                           value="ch.elexis.core.data.beans.ContactBean">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:at.medevit.elexis.contacts.core.command.AdvancedFilterCommand">
         <dynamic
               class="ch.elexis.core.ui.contacts.dynamic.KontaktAnzeigeTypFilterDynamicContribution"
               id="at.medevit.elexis.contacts.views.dynamic.KontaktAnzeigeTypFilterDynamicContribution">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.elexis.core.ui.contacts.command.AdvancedFilterCommand"
            id="at.medevit.elexis.contacts.core.command.AdvancedFilterCommand"
            name="%command.advancedFilterCommand.name">
      </command>
      <command
            id="at.medevit.elexis.contacts.core.command.SetContactSorter"
            name="set contact sorter">
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.contacts.command.OpenStickerPreferencePage"
            id="at.medevit.elexis.contacts.core.command.OpenStickerPreferencePage"
            name="%command.openStickerPreferencePage.name">
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.contacts.command.FocusIntelligentSearch"
            id="at.medevit.elexis.contacts.core.command.FocusIntelligentSearch"
            name="%command.focusIntelligentSearch.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="at.medevit.elexis.contacts.core.command.FocusIntelligentSearch"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="at.medevit.elexis.contacts.decorator.ContactTypeDecorator"
            id="at.medevit.elexis.contacts.decorator.ContactTypeDecorator"
            label="%decorator.contactType.label"
            lightweight="true"
            objectClass="at.medevit.elexis.model.IContact"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="ch.elexis.core.data.beans.ContactBean"
            class="ch.elexis.core.ui.contacts.adapter.ContactAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ch.elexis.core.ui.contacts.views.ContactSelectorView">
         <propertyCategory
               category="ch.elexis.core.property.contacts.main"></propertyCategory>
         <propertyCategory
               category="ch.elexis.core.property.contacts.additional">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ch.elexis.core.ui.contacts.views.ContactSelectorView">
         <propertyTab
               category="ch.elexis.core.property.contacts.main"
               id="ch.elexis.core.contacts.propertyTab.Stammdaten"
               label="%propertyTab.masterData.label">
         </propertyTab>
         <propertyTab
               afterTab="ch.elexis.core.contacts.propertyTab.Stammdaten"
               category="ch.elexis.core.property.contacts.main"
               id="ch.elexis.core.contacts.propertyTab.UserManagement"
               indented="true"
               label="%propertyTab.system.label">
         </propertyTab>
         <propertyTab
               category="ch.elexis.core.property.contacts.additional"
               id="ch.elexis.core.contacts.propertyTab.Faelle"
               label="%propertyTab.cases.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ch.elexis.core.ui.contacts.views.ContactSelectorView">
         <propertySection
               class="ch.elexis.core.ui.contacts.propertyTab.StammdatenTab"
               id="ch.elexis.core.contacts.propertyTab.StammdatenTab"
               tab="ch.elexis.core.contacts.propertyTab.Stammdaten">
            <input
                  type="ch.elexis.core.data.beans.ContactBean">
            </input>
         </propertySection>
         <propertySection
               class="ch.elexis.core.ui.contacts.propertyTab.UserManagementTab"
               filter="ch.elexis.core.ui.contacts.propertyTab.UserManagementTab"
               id="ch.elexis.core.contacts.propertyTab.UserManagementTab"
               tab="ch.elexis.core.contacts.propertyTab.UserManagement">
            <input
                  type="ch.elexis.core.data.beans.ContactBean">
            </input>
         </propertySection>
         <propertySection
               class="ch.elexis.core.ui.contacts.propertyTab.FaelleTab"
               filter="ch.elexis.core.ui.contacts.propertyTab.FaelleTab"
               id="ch.elexis.core.contacts.propertyTab.FaelleTab"
               tab="ch.elexis.core.contacts.propertyTab.Faelle">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
