<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.elexis.core.ui.KonsExtension">
      <Link
            KonsExtension="ch.elexis.core.ui.laboratory.laborlink.LaborLink"
            name="laborlink">
      </Link>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.core.ui.laboratory.preferences.LaborPrefs"
            id="ch.elexis.LaborPref"
            name="%elexis.labPrefs">
      </page>
      <page
            category="ch.elexis.LaborPref"
            class="ch.elexis.core.ui.laboratory.preferences.LabGroupPrefs"
            id="ch.elexis.preferences.LabGroupPrefs"
            name="%elexis.labGroupPrefs">
      </page>
      <page
            category="ch.elexis.LaborPref"
            class="ch.elexis.core.ui.laboratory.preferences.LabSettings"
            id="ch.elexis.LaborNeuPrefs"
            name="%page.name.3">
      </page>
   </extension>

      <extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="ch.elexis.core.ui.laboratory.commands.EditLabItemUi"
            id="ch.elexis.labitem.edit"
            name="Labor Item Ändern">
         <commandParameter
               id="ch.elexis.labitem.edit.selected"
               name="Selected LabItem"
               optional="true"
               typeId="ch.elexis.PersistentObjectType">
         </commandParameter>
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.laboratory.commands.CreateLabItemUi"
            id="ch.elexis.labitem.create"
            name="Labor Item Anlegen">
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.laboratory.commands.CreateMappingFrom2_1_7"
            id="ch.elexis.mapping.2_1_7.create"
            name="Labor Items aus 2.1.7 mappen">
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.laboratory.commands.CreateMergeLabItemUi"
            id="ch.elexis.labitem.merge"
            name="Labor Items vereinen">
      </command>
      <command
            defaultHandler="ch.elexis.core.ui.laboratory.commands.CreateImportMappingUi"
            id="ch.elexis.labmapping.import"
            name="Zuordnung importieren">
      </command>
   </extension>
   
</plugin>
