<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="ch.elexis.core.ui.medication.AddFixMedication"
               icon="icon://IMG_NEW"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_VIEW_RECIPES"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINTER"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.ApplyCustomSorting"
               icon="icon://IMG_SORT_STAR"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="ch.elexis.core.ui.medication.SetAsFixMedication"
               icon="icon://IMG_PILL"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.SetAsReserveMedication"
               icon="icon://IMG_RESERVE_MEDI"
               style="push">
         </command>
         <separator
               name="ch.elexis.core.ui.medication.separator1"
               visible="true">
         </separator>
         <command
               commandId="ch.elexis.core.ui.medication.MentionInConsultation"
               icon="icon://IMG_DATA"
               style="push"
               tooltip="erstellt einen Vermerk in der aktuellen Konsultation">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.SwitchMedication"
               icon="icon://IMG_BALANCE_EDIT"
               style="push"
               tooltip="die ausgewählte Medikation durch eine andere ersetzten">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.AddArticleToOrder"
               icon="icon://IMG_CART"
               style="push">
         </command>
         <separator
               name="ch.elexis.core.ui.medication.separator2"
               visible="true">
         </separator>
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_VIEW_RECIPES"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.Dispense"
               icon="icon://IMG_VIEW_CONSULTATION_DETAIL"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINTER"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.Delete"
               icon="icon://IMG_DELETE"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Ausgewählte Medikamente rezeptieren und Rezept ausdrucken"
            id="ch.elexis.core.ui.medication.PrintRecipe"
            name="Rezeptieren">
      </command>
      <command
            id="ch.elexis.core.ui.medication.PrintTakingsList"
            name="Einnahmeliste drucken">
      </command>
      <command
            description="Ausgewählte Medikamente dispensieren (werden zu aktueller Konsultation verrechnet)"
            id="ch.elexis.core.ui.medication.Dispense"
            name="Dispensieren">
      </command>
      <command
            description="Ausgewählten Eintrag entfernen"
            id="ch.elexis.core.ui.medication.Delete"
            name="Löschen">
      </command>
      <command
            description="FixMedikation hinzufügen"
            id="ch.elexis.core.ui.medication.AddFixMedication"
            name="FixMedikation hinzufügen">
      </command>
      <command
            description="FixMedikation"
            id="ch.elexis.core.ui.medication.SetAsFixMedication"
            name="FixMedikation">
      </command>
      <command
            description="Medikation auf Reserve"
            id="ch.elexis.core.ui.medication.SetAsReserveMedication"
            name="Reservemedikation">
      </command>
      <command
            id="ch.elexis.core.ui.medication.ApplyCustomSorting"
            name="Persönliche Sortierung anwenden">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            description="Vermerk in Konsultation erstellen"
            id="ch.elexis.core.ui.medication.MentionInConsultation"
            name="Vermerk in Konsultation">
      </command>
      <command
            id="ch.elexis.core.ui.medication.SwitchMedication"
            name="Medikation anpassen">
      </command>
      <command
            id="ch.elexis.core.ui.medication.AddArticleToOrder"
            name="Artikel auf Bestellliste setzen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.elexis.core.ui.medication.handlers.PrintRecipeHandler"
            commandId="ch.elexis.core.ui.medication.PrintRecipe">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.PrintTakingsListHandler"
            commandId="ch.elexis.core.ui.medication.PrintTakingsList">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.DispenseHandler"
            commandId="ch.elexis.core.ui.medication.Dispense">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.DeleteHandler"
            commandId="ch.elexis.core.ui.medication.Delete">
         <activeWhen>
            <with
                  variable="selection">
               <not>
                  <count
                        value="0">
                  </count>
               </not>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.AddFixMedicationHandler"
            commandId="ch.elexis.core.ui.medication.AddFixMedication">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.ApplyCustomSortingHandler"
            commandId="ch.elexis.core.ui.medication.ApplyCustomSorting">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.SetAsFixMedicationHandler"
            commandId="ch.elexis.core.ui.medication.SetAsFixMedication">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with></activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.SetAsReserveMedicationHandler"
            commandId="ch.elexis.core.ui.medication.SetAsReserveMedication">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.MentionInConsultationHandler"
            commandId="ch.elexis.core.ui.medication.MentionInConsultation">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
               <and>
                  <with
                        variable="selection">
                     <not>
                        <count
                              value="0">
                        </count>
                     </not>
                  </with>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.SwitchMedicationHandler"
            commandId="ch.elexis.core.ui.medication.SwitchMedication">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.AddArticleToOrderHandler"
            commandId="ch.elexis.core.ui.medication.AddArticleToOrder">
         <activeWhen>
            <with
                  variable="selection">
               <not>
                  <count
                        value="0">
                  </count>
               </not>
            </with>
         </activeWhen>
      </handler>    
   </extension>

</plugin>
