<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_VIEW_RECIPES"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINTER"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="ch.elexis.core.ui.medication.PrintRecipe"
               icon="icon://IMG_VIEW_RECIPES"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.Dispense"
               icon="icon://IMG_VIEW_CONSULTATION_DETAIL"
               style="push">
         </command>
         <command
               commandId="ch.elexis.core.ui.medication.PrintTakingsList"
               icon="icon://IMG_PRINTER"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.elexis.core.ui.medication.views.MedicationView"
            icon="icon://IMG_PILL"
            id="ch.elexis.core.ui.medication.views.MedicationView"
            name="Medikationsliste"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Ausgewählte Medikamente rezeptieren und Rezept ausdrucken"
            id="ch.elexis.core.ui.medication.PrintRecipe"
            name="Rezeptieren">
      </command>
      <command
            id="ch.elexis.core.ui.medication.PrintTakingsList"
            name="Einnahmeliste drucken">
      </command>
      <command
            description="Ausgewählte Medikamente dispensieren (werden zu aktueller Konsultation verrechnet)"
            id="ch.elexis.core.ui.medication.Dispense"
            name="Dispensieren">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.elexis.core.ui.medication.handlers.PrintRecipeHandler"
            commandId="ch.elexis.core.ui.medication.PrintRecipe">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.PrintTakingsListHandler"
            commandId="ch.elexis.core.ui.medication.PrintTakingsList">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ch.elexis.core.ui.medication.handlers.DispenseHandler"
            commandId="ch.elexis.core.ui.medication.Dispense">
         <activeWhen>
            <with
                  variable="ch.elexis.commands.sourceprovider.patientSelectionActive">
               <equals
                     value="TRUE">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
