<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="ch.docbox.elexis"/>
        <setEntry value="ch.elexis.base.solr.ui"/>
        <setEntry value="ch.elexis.core.application"/>
        <setEntry value="ch.elexis.core.coding"/>
        <setEntry value="ch.elexis.core.coding.test"/>
        <setEntry value="ch.elexis.core.data"/>
        <setEntry value="ch.elexis.core.data.tests"/>
        <setEntry value="ch.elexis.core.documents"/>
        <setEntry value="ch.elexis.core.eigenartikel"/>
        <setEntry value="ch.elexis.core.eigendiagnosen"/>
        <setEntry value="ch.elexis.core.findings"/>
        <setEntry value="ch.elexis.core.findings.fhir.model"/>
        <setEntry value="ch.elexis.core.findings.fhir.po"/>
        <setEntry value="ch.elexis.core.findings.templates"/>
        <setEntry value="ch.elexis.core.findings.templates.edit"/>
        <setEntry value="ch.elexis.core.findings.templates.po"/>
        <setEntry value="ch.elexis.core.findings.templates.ui"/>
        <setEntry value="ch.elexis.core.findings.test"/>
        <setEntry value="ch.elexis.core.findings.ui"/>
        <setEntry value="ch.elexis.core.findings.util"/>
        <setEntry value="ch.elexis.core.findings.util.test"/>
        <setEntry value="ch.elexis.core.hapi.fhir"/>
        <setEntry value="ch.elexis.core.hl7.v2x"/>
        <setEntry value="ch.elexis.core.hl7.v2x.tests"/>
        <setEntry value="ch.elexis.core.importer.div"/>
        <setEntry value="ch.elexis.core.importer.div.test"/>
        <setEntry value="ch.elexis.core.jcifs"/>
        <setEntry value="ch.elexis.core.jcifs.test"/>
        <setEntry value="ch.elexis.core.jpa"/>
        <setEntry value="ch.elexis.core.jpa.datasource"/>
        <setEntry value="ch.elexis.core.jpa.test"/>
        <setEntry value="ch.elexis.core.logging.osgi"/>
        <setEntry value="ch.elexis.core.mail"/>
        <setEntry value="ch.elexis.core.mail.test"/>
        <setEntry value="ch.elexis.core.mail.ui"/>
        <setEntry value="ch.elexis.core.model"/>
        <setEntry value="ch.elexis.core.model.test"/>
        <setEntry value="ch.elexis.core.pdfbox"/>
        <setEntry value="ch.elexis.core.pdfbox.ui"/>
        <setEntry value="ch.elexis.core.product"/>
        <setEntry value="ch.elexis.core.scripting.beanshell"/>
        <setEntry value="ch.elexis.core.services"/>
        <setEntry value="ch.elexis.core.services.test"/>
        <setEntry value="ch.elexis.core.spotlight"/>
        <setEntry value="ch.elexis.core.spotlight.ui"/>
        <setEntry value="ch.elexis.core.spotlight.ui.mock"/>
        <setEntry value="ch.elexis.core.tasks"/>
        <setEntry value="ch.elexis.core.tasks.test"/>
        <setEntry value="ch.elexis.core.test"/>
        <setEntry value="ch.elexis.core.test.context"/>
        <setEntry value="ch.elexis.core.ui"/>
        <setEntry value="ch.elexis.core.ui.chromium"/>
        <setEntry value="ch.elexis.core.ui.contacts"/>
        <setEntry value="ch.elexis.core.ui.dbcheck"/>
        <setEntry value="ch.elexis.core.ui.documents"/>
        <setEntry value="ch.elexis.core.ui.e4"/>
        <setEntry value="ch.elexis.core.ui.eenv"/>
        <setEntry value="ch.elexis.core.ui.eigenartikel"/>
        <setEntry value="ch.elexis.core.ui.eigendiagnosen"/>
        <setEntry value="ch.elexis.core.ui.icons"/>
        <setEntry value="ch.elexis.core.ui.importer.div"/>
        <setEntry value="ch.elexis.core.ui.importer.div.native64"/>
        <setEntry value="ch.elexis.core.ui.importer.div.tests"/>
        <setEntry value="ch.elexis.core.ui.laboratory"/>
        <setEntry value="ch.elexis.core.ui.medication"/>
        <setEntry value="ch.elexis.core.ui.p2"/>
        <setEntry value="ch.elexis.core.ui.perspective"/>
        <setEntry value="ch.elexis.core.ui.stock"/>
        <setEntry value="ch.elexis.core.ui.tasks"/>
        <setEntry value="ch.elexis.core.ui.tests"/>
        <setEntry value="ch.elexis.core.ui.usage"/>
        <setEntry value="ch.elexis.jre.linux.x86_64"/>
        <setEntry value="ch.elexis.jre.win32.x86_64"/>
        <setEntry value="org.iatrix.help.wiki"/>
        <setEntry value="ws-api-impl-import-java9"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ch.elexis.core.jpa.entities.test/src/ch/elexis/core/jpa/entities/test/AllTest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.elexis.core.jpa.entities.test.AllTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch.elexis.core.jpa.entities.test"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="ch.elexis.core.application.product"/>
    <booleanAttribute key="run_in_ui_thread" value="false"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="ch.qos.logback.slf4j@default:false"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="com.jcraft.jsch@default:default"/>
        <setEntry value="com.mysql.cj@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="com.sun.mail.jakarta.mail@default:default"/>
        <setEntry value="com.sun.xml.bind@default:default"/>
        <setEntry value="jakarta.persistence@default:default"/>
        <setEntry value="jakarta.ws.rs-api@default:default"/>
        <setEntry value="jakarta.xml.bind@default:default"/>
        <setEntry value="javax.activation@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="javax.transaction@default:false"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.commons.commons-codec@default:default"/>
        <setEntry value="org.apache.commons.dbcp@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.commons.pool@default:default"/>
        <setEntry value="org.apache.lucene.core@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.macosx@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.gemini.jpa@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.persistence.antlr@default:default"/>
        <setEntry value="org.eclipse.persistence.asm@default:default"/>
        <setEntry value="org.eclipse.persistence.core@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa.jpql@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa@default:default"/>
        <setEntry value="org.eclipse.persistence.oracle@default:false"/>
        <setEntry value="org.glassfish.hk2.osgi-resource-locator@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.jdom@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.postgresql.jdbc@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="osgi.enterprise@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="ch.elexis.core.jpa.entities.test@default:false"/>
        <setEntry value="ch.elexis.core.jpa.entities@default:default"/>
        <setEntry value="ch.elexis.core.jpa.logging.slf4j@default:false"/>
        <setEntry value="ch.elexis.core.l10n@default:default"/>
        <setEntry value="ch.elexis.core.logback.rocketchat@default:false"/>
        <setEntry value="ch.elexis.core.logging.default_configuration@default:false"/>
        <setEntry value="ch.elexis.core.test.logging@default:false"/>
        <setEntry value="ch.elexis.core@default:default"/>
        <setEntry value="ch.rgw.utility.tests@default:false"/>
        <setEntry value="ch.rgw.utility@default:default"/>
        <setEntry value="jakarta.xml.bind-api@default:false"/>
        <setEntry value="org.osgi.framework.system.packages.extra@default:false"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
