<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="at.gruber.elexis.mythic22"/>
        <setEntry value="at.medbits.elexis.labbit.ui"/>
        <setEntry value="at.medevit.atc_codes"/>
        <setEntry value="at.medevit.atc_codes.test"/>
        <setEntry value="at.medevit.ch.artikelstamm"/>
        <setEntry value="at.medevit.ch.artikelstamm.elexis.common"/>
        <setEntry value="at.medevit.ch.artikelstamm.elexis.open"/>
        <setEntry value="at.medevit.ch.artikelstamm.medelexis"/>
        <setEntry value="at.medevit.ch.artikelstamm.model"/>
        <setEntry value="at.medevit.ch.artikelstamm.model.test"/>
        <setEntry value="at.medevit.ch.artikelstamm.ui"/>
        <setEntry value="at.medevit.elexis.abx"/>
        <setEntry value="at.medevit.elexis.abx.test"/>
        <setEntry value="at.medevit.elexis.agenda.reminder"/>
        <setEntry value="at.medevit.elexis.agenda.reminder.test"/>
        <setEntry value="at.medevit.elexis.agenda.reminder.ui"/>
        <setEntry value="at.medevit.elexis.agenda.ui"/>
        <setEntry value="at.medevit.elexis.agenda.ui.rcp"/>
        <setEntry value="at.medevit.elexis.arkray"/>
        <setEntry value="at.medevit.elexis.arkray.test"/>
        <setEntry value="at.medevit.elexis.astm"/>
        <setEntry value="at.medevit.elexis.astm.test"/>
        <setEntry value="at.medevit.elexis.barcode"/>
        <setEntry value="at.medevit.elexis.barcode.manual"/>
        <setEntry value="at.medevit.elexis.barcode.scanner"/>
        <setEntry value="at.medevit.elexis.barcode.test"/>
        <setEntry value="at.medevit.elexis.bluemedication.core"/>
        <setEntry value="at.medevit.elexis.bluemedication.ui"/>
        <setEntry value="at.medevit.elexis.cobasmira"/>
        <setEntry value="at.medevit.elexis.cobasmira.tests"/>
        <setEntry value="at.medevit.elexis.connect.afias6"/>
        <setEntry value="at.medevit.elexis.connect.afinion2"/>
        <setEntry value="at.medevit.elexis.connect.pocketchem"/>
        <setEntry value="at.medevit.elexis.connect.pocketchem.test"/>
        <setEntry value="at.medevit.elexis.connect.urisys1100"/>
        <setEntry value="at.medevit.elexis.connect.z3haem"/>
        <setEntry value="at.medevit.elexis.corona123"/>
        <setEntry value="at.medevit.elexis.curabill.core"/>
        <setEntry value="at.medevit.elexis.curabill.tests"/>
        <setEntry value="at.medevit.elexis.curabill.ui"/>
        <setEntry value="at.medevit.elexis.dcavantage"/>
        <setEntry value="at.medevit.elexis.disposan"/>
        <setEntry value="at.medevit.elexis.documents.converter"/>
        <setEntry value="at.medevit.elexis.documents.converter.ui"/>
        <setEntry value="at.medevit.elexis.documents.scan"/>
        <setEntry value="at.medevit.elexis.ehc.core"/>
        <setEntry value="at.medevit.elexis.ehc.core.test"/>
        <setEntry value="at.medevit.elexis.ehc.docbox"/>
        <setEntry value="at.medevit.elexis.ehc.ui"/>
        <setEntry value="at.medevit.elexis.ehc.ui.docbox"/>
        <setEntry value="at.medevit.elexis.ehc.ui.example"/>
        <setEntry value="at.medevit.elexis.ehc.ui.vacdoc"/>
        <setEntry value="at.medevit.elexis.ehc.vacdoc"/>
        <setEntry value="at.medevit.elexis.ehc.vacdoc.test"/>
        <setEntry value="at.medevit.elexis.emediplan.core"/>
        <setEntry value="at.medevit.elexis.emediplan.core.test"/>
        <setEntry value="at.medevit.elexis.emediplan.ui"/>
        <setEntry value="at.medevit.elexis.epha.interactions"/>
        <setEntry value="at.medevit.elexis.gdt"/>
        <setEntry value="at.medevit.elexis.gdt.customed"/>
        <setEntry value="at.medevit.elexis.gdt.defaultfilecp"/>
        <setEntry value="at.medevit.elexis.gdt.teamw"/>
        <setEntry value="at.medevit.elexis.gdt.unilabs"/>
        <setEntry value="at.medevit.elexis.igmbestellung"/>
        <setEntry value="at.medevit.elexis.impfplan"/>
        <setEntry value="at.medevit.elexis.impfplan.test"/>
        <setEntry value="at.medevit.elexis.impfplan.ui"/>
        <setEntry value="at.medevit.elexis.inbox"/>
        <setEntry value="at.medevit.elexis.inbox.core.elements"/>
        <setEntry value="at.medevit.elexis.inbox.core.ui"/>
        <setEntry value="at.medevit.elexis.inbox.ui"/>
        <setEntry value="at.medevit.elexis.kapsch.referral.ui"/>
        <setEntry value="at.medevit.elexis.laborimport.MCL"/>
        <setEntry value="at.medevit.elexis.loinc"/>
        <setEntry value="at.medevit.elexis.loinc.ui"/>
        <setEntry value="at.medevit.elexis.loinc_test"/>
        <setEntry value="at.medevit.elexis.medforms.core"/>
        <setEntry value="at.medevit.elexis.medforms.core.test"/>
        <setEntry value="at.medevit.elexis.medforms.ui"/>
        <setEntry value="at.medevit.elexis.medicosearch.core"/>
        <setEntry value="at.medevit.elexis.medicosearch.core.test"/>
        <setEntry value="at.medevit.elexis.medicosearch.ui"/>
        <setEntry value="at.medevit.elexis.medidata.box.core"/>
        <setEntry value="at.medevit.elexis.medidata.box.core.test"/>
        <setEntry value="at.medevit.elexis.medidata.box.ui"/>
        <setEntry value="at.medevit.elexis.medidata.core"/>
        <setEntry value="at.medevit.elexis.medidata.test"/>
        <setEntry value="at.medevit.elexis.medidata.ui"/>
        <setEntry value="at.medevit.elexis.medietikette"/>
        <setEntry value="at.medevit.elexis.medisupport.ui"/>
        <setEntry value="at.medevit.elexis.medisupport.ws.client"/>
        <setEntry value="at.medevit.elexis.medisupport.ws.client.test"/>
        <setEntry value="at.medevit.elexis.mepha.orders.core"/>
        <setEntry value="at.medevit.elexis.mepha.orders.test"/>
        <setEntry value="at.medevit.elexis.mepha.orders.ui"/>
        <setEntry value="at.medevit.elexis.migration.agenda"/>
        <setEntry value="at.medevit.elexis.migration.agenda.test"/>
        <setEntry value="at.medevit.elexis.migration.agenda.ui"/>
        <setEntry value="at.medevit.elexis.migration.befunde"/>
        <setEntry value="at.medevit.elexis.migration.befunde.test"/>
        <setEntry value="at.medevit.elexis.migration.befunde.ui"/>
        <setEntry value="at.medevit.elexis.migration.core"/>
        <setEntry value="at.medevit.elexis.migration.core.test"/>
        <setEntry value="at.medevit.elexis.migration.core.ui"/>
        <setEntry value="at.medevit.elexis.migration.omnivore"/>
        <setEntry value="at.medevit.elexis.migration.omnivore.ui"/>
        <setEntry value="at.medevit.elexis.migration.percentile"/>
        <setEntry value="at.medevit.elexis.migration.percentile.test"/>
        <setEntry value="at.medevit.elexis.migration.percentile.ui"/>
        <setEntry value="at.medevit.elexis.outbox"/>
        <setEntry value="at.medevit.elexis.outbox.ui"/>
        <setEntry value="at.medevit.elexis.pdfocrmetadata"/>
        <setEntry value="at.medevit.elexis.pdfocrmetadata.model"/>
        <setEntry value="at.medevit.elexis.pdfocrmetadata.test"/>
        <setEntry value="at.medevit.elexis.perspective"/>
        <setEntry value="at.medevit.elexis.perspective.ui"/>
        <setEntry value="at.medevit.elexis.rdus.client"/>
        <setEntry value="at.medevit.elexis.rdus.model"/>
        <setEntry value="at.medevit.elexis.roche.labor"/>
        <setEntry value="at.medevit.elexis.roche.labor.test"/>
        <setEntry value="at.medevit.elexis.stock.wwks2"/>
        <setEntry value="at.medevit.elexis.swissmedic"/>
        <setEntry value="at.medevit.elexis.tarmed.model"/>
        <setEntry value="at.medevit.elexis.tarmed.model.tests"/>
        <setEntry value="at.medevit.elexis.tel.search"/>
        <setEntry value="at.medevit.elexis.tel.search.test"/>
        <setEntry value="at.medevit.elexis.tel.search.ui"/>
        <setEntry value="at.medevit.elexis.text.docx"/>
        <setEntry value="at.medevit.elexis.text.docx.test"/>
        <setEntry value="at.medevit.elexis.watchbpo"/>
        <setEntry value="at.medevit.elexis.weblinks"/>
        <setEntry value="at.medevit.medelexis.blueevidence"/>
        <setEntry value="at.medevit.medelexis.blueevidence_test"/>
        <setEntry value="at.medevit.medelexis.buchhaltung"/>
        <setEntry value="at.medevit.medelexis.buchhaltung.medix"/>
        <setEntry value="at.medevit.medelexis.buchhaltung.test"/>
        <setEntry value="at.medevit.medelexis.text.msword"/>
        <setEntry value="at.medevit.medelexis.ui.statushandler"/>
        <setEntry value="at.medevit.medelexis.ui.statushandler.binding"/>
        <setEntry value="at.medevit.medelexis.ui.statushandler.qualityfeedback"/>
        <setEntry value="at.medevit.medelexis.vat_ch"/>
        <setEntry value="at.medevit.medelexis.vat_ch_test"/>
        <setEntry value="at.medevit.medelexis.vatstatistics_ch"/>
        <setEntry value="at.medevit.redmine.mis"/>
        <setEntry value="at.medevit.redmine.rest"/>
        <setEntry value="at.medevit.redmine.rest.test"/>
        <setEntry value="at.medevit.wwks2"/>
        <setEntry value="at.medevit.wwks2.test"/>
        <setEntry value="ch.berchtold.privatrechnung"/>
        <setEntry value="ch.docbox.elexis"/>
        <setEntry value="ch.docbox.product_key"/>
        <setEntry value="ch.elexis.agenda"/>
        <setEntry value="ch.elexis.archie.patientstatistik"/>
        <setEntry value="ch.elexis.archie.wzw"/>
        <setEntry value="ch.elexis.arzttarif.complementary.bill"/>
        <setEntry value="ch.elexis.barcode.scanner"/>
        <setEntry value="ch.elexis.base.befunde"/>
        <setEntry value="ch.elexis.base.ch.arzttarife"/>
        <setEntry value="ch.elexis.base.ch.arzttarife.model"/>
        <setEntry value="ch.elexis.base.ch.arzttarife.model.test"/>
        <setEntry value="ch.elexis.base.ch.arzttarife.test"/>
        <setEntry value="ch.elexis.base.ch.diagnosecodes"/>
        <setEntry value="ch.elexis.base.ch.ebanking"/>
        <setEntry value="ch.elexis.base.ch.ebanking.test"/>
        <setEntry value="ch.elexis.base.ch.feature.branding"/>
        <setEntry value="ch.elexis.base.ch.icd10"/>
        <setEntry value="ch.elexis.base.ch.labortarif.model"/>
        <setEntry value="ch.elexis.base.ch.labortarif_2009"/>
        <setEntry value="ch.elexis.base.ch.migel"/>
        <setEntry value="ch.elexis.base.ch.ticode"/>
        <setEntry value="ch.elexis.base.konsextension.bildanzeige"/>
        <setEntry value="ch.elexis.base.konsextension.privatnotizen"/>
        <setEntry value="ch.elexis.base.messages"/>
        <setEntry value="ch.elexis.base.solr"/>
        <setEntry value="ch.elexis.base.solr.test"/>
        <setEntry value="ch.elexis.base.solr.ui"/>
        <setEntry value="ch.elexis.base.textplugin"/>
        <setEntry value="ch.elexis.buchhaltung.basis"/>
        <setEntry value="ch.elexis.connect.abaxis.piccolo"/>
        <setEntry value="ch.elexis.connect.abaxis.piccolo.test"/>
        <setEntry value="ch.elexis.connect.abxmicros"/>
        <setEntry value="ch.elexis.connect.afinion"/>
        <setEntry value="ch.elexis.connect.afinion.test"/>
        <setEntry value="ch.elexis.connect.fuji.drichem3500"/>
        <setEntry value="ch.elexis.connect.labgeo.hc10"/>
        <setEntry value="ch.elexis.connect.labgeo.poct1"/>
        <setEntry value="ch.elexis.connect.mythic"/>
        <setEntry value="ch.elexis.connect.poct1"/>
        <setEntry value="ch.elexis.connect.poct1.test"/>
        <setEntry value="ch.elexis.connect.reflotron.v2"/>
        <setEntry value="ch.elexis.connect.reflotron.v2test"/>
        <setEntry value="ch.elexis.connect.roche.baseunithub"/>
        <setEntry value="ch.elexis.connect.rochebaseunit"/>
        <setEntry value="ch.elexis.connect.swelab"/>
        <setEntry value="ch.elexis.connect.sysmex"/>
        <setEntry value="ch.elexis.connect.sysmex.test"/>
        <setEntry value="ch.elexis.connect.urilux"/>
        <setEntry value="ch.elexis.connector.be"/>
        <setEntry value="ch.elexis.connector.medicosearch"/>
        <setEntry value="ch.elexis.core.application"/>
        <setEntry value="ch.elexis.core.coding"/>
        <setEntry value="ch.elexis.core.coding.test"/>
        <setEntry value="ch.elexis.core.data"/>
        <setEntry value="ch.elexis.core.data.tests"/>
        <setEntry value="ch.elexis.core.documents"/>
        <setEntry value="ch.elexis.core.eigenartikel"/>
        <setEntry value="ch.elexis.core.eigendiagnosen"/>
        <setEntry value="ch.elexis.core.findings"/>
        <setEntry value="ch.elexis.core.findings.fhir.model"/>
        <setEntry value="ch.elexis.core.findings.fhir.po"/>
        <setEntry value="ch.elexis.core.findings.templates"/>
        <setEntry value="ch.elexis.core.findings.templates.edit"/>
        <setEntry value="ch.elexis.core.findings.templates.po"/>
        <setEntry value="ch.elexis.core.findings.templates.ui"/>
        <setEntry value="ch.elexis.core.findings.test"/>
        <setEntry value="ch.elexis.core.findings.ui"/>
        <setEntry value="ch.elexis.core.findings.util"/>
        <setEntry value="ch.elexis.core.findings.util.test"/>
        <setEntry value="ch.elexis.core.hapi.fhir"/>
        <setEntry value="ch.elexis.core.hl7.v2x"/>
        <setEntry value="ch.elexis.core.hl7.v2x.tests"/>
        <setEntry value="ch.elexis.core.importer.div"/>
        <setEntry value="ch.elexis.core.jcifs"/>
        <setEntry value="ch.elexis.core.jcifs.test"/>
        <setEntry value="ch.elexis.core.jpa"/>
        <setEntry value="ch.elexis.core.jpa.datasource"/>
        <setEntry value="ch.elexis.core.jpa.test"/>
        <setEntry value="ch.elexis.core.logback.rocketchat"/>
        <setEntry value="ch.elexis.core.logging.default_configuration"/>
        <setEntry value="ch.elexis.core.logging.osgi"/>
        <setEntry value="ch.elexis.core.mail"/>
        <setEntry value="ch.elexis.core.mail.test"/>
        <setEntry value="ch.elexis.core.mail.ui"/>
        <setEntry value="ch.elexis.core.model"/>
        <setEntry value="ch.elexis.core.model.test"/>
        <setEntry value="ch.elexis.core.pdfbox"/>
        <setEntry value="ch.elexis.core.pdfbox.ui"/>
        <setEntry value="ch.elexis.core.product"/>
        <setEntry value="ch.elexis.core.scripting.beanshell"/>
        <setEntry value="ch.elexis.core.services"/>
        <setEntry value="ch.elexis.core.services.test"/>
        <setEntry value="ch.elexis.core.spotlight"/>
        <setEntry value="ch.elexis.core.spotlight.ui"/>
        <setEntry value="ch.elexis.core.tasks"/>
        <setEntry value="ch.elexis.core.tasks.test"/>
        <setEntry value="ch.elexis.core.test"/>
        <setEntry value="ch.elexis.core.test.context"/>
        <setEntry value="ch.elexis.core.ui"/>
        <setEntry value="ch.elexis.core.ui.chromium"/>
        <setEntry value="ch.elexis.core.ui.contacts"/>
        <setEntry value="ch.elexis.core.ui.dbcheck"/>
        <setEntry value="ch.elexis.core.ui.documents"/>
        <setEntry value="ch.elexis.core.ui.e4"/>
        <setEntry value="ch.elexis.core.ui.eenv"/>
        <setEntry value="ch.elexis.core.ui.eigenartikel"/>
        <setEntry value="ch.elexis.core.ui.eigendiagnosen"/>
        <setEntry value="ch.elexis.core.ui.icons"/>
        <setEntry value="ch.elexis.core.ui.importer.div"/>
        <setEntry value="ch.elexis.core.ui.importer.div.native64"/>
        <setEntry value="ch.elexis.core.ui.importer.div.tests"/>
        <setEntry value="ch.elexis.core.ui.laboratory"/>
        <setEntry value="ch.elexis.core.ui.medication"/>
        <setEntry value="ch.elexis.core.ui.p2"/>
        <setEntry value="ch.elexis.core.ui.perspective"/>
        <setEntry value="ch.elexis.core.ui.stock"/>
        <setEntry value="ch.elexis.core.ui.tasks"/>
        <setEntry value="ch.elexis.core.ui.tests"/>
        <setEntry value="ch.elexis.core.ui.usage"/>
        <setEntry value="ch.elexis.covercard"/>
        <setEntry value="ch.elexis.docbox.ws.client"/>
        <setEntry value="ch.elexis.docbox.ws.client.product_key"/>
        <setEntry value="ch.elexis.docbox.ws.client.test"/>
        <setEntry value="ch.elexis.ebanking"/>
        <setEntry value="ch.elexis.ebanking.qr"/>
        <setEntry value="ch.elexis.ebanking.qr.test"/>
        <setEntry value="ch.elexis.ebanking.tests"/>
        <setEntry value="ch.elexis.externe_dokumente"/>
        <setEntry value="ch.elexis.externe_dokumente.tests"/>
        <setEntry value="ch.elexis.fop.service"/>
        <setEntry value="ch.elexis.fop.service.test"/>
        <setEntry value="ch.elexis.fop_wrapper"/>
        <setEntry value="ch.elexis.global_inbox"/>
        <setEntry value="ch.elexis.hl7.message.core"/>
        <setEntry value="ch.elexis.hl7.message.ui"/>
        <setEntry value="ch.elexis.hnet"/>
        <setEntry value="ch.elexis.icpc"/>
        <setEntry value="ch.elexis.icpc.fire"/>
        <setEntry value="ch.elexis.icpc.fire.test"/>
        <setEntry value="ch.elexis.icpc.model"/>
        <setEntry value="ch.elexis.impfplan"/>
        <setEntry value="ch.elexis.importer.aeskulap.core"/>
        <setEntry value="ch.elexis.importer.aeskulap.ui"/>
        <setEntry value="ch.elexis.importer.vitodata.core"/>
        <setEntry value="ch.elexis.importer.vitodata.core.test"/>
        <setEntry value="ch.elexis.importer.vitodata.ui"/>
        <setEntry value="ch.elexis.kassenbuch"/>
        <setEntry value="ch.elexis.laborimport.analytica"/>
        <setEntry value="ch.elexis.laborimport.badena"/>
        <setEntry value="ch.elexis.laborimport.bioanalytica"/>
        <setEntry value="ch.elexis.laborimport.eurolyser"/>
        <setEntry value="ch.elexis.laborimport.guentert"/>
        <setEntry value="ch.elexis.laborimport.hl7.allg"/>
        <setEntry value="ch.elexis.laborimport.logolab"/>
        <setEntry value="ch.elexis.laborimport.medica"/>
        <setEntry value="ch.elexis.laborimport.medics.v2"/>
        <setEntry value="ch.elexis.laborimport.synlab"/>
        <setEntry value="ch.elexis.laborimport.synlab.v2"/>
        <setEntry value="ch.elexis.laborimport.teamw"/>
        <setEntry value="ch.elexis.laborimport.viollier.v2"/>
        <setEntry value="ch.elexis.laborimport.viollier.v2_test"/>
        <setEntry value="ch.elexis.laborimport_krech"/>
        <setEntry value="ch.elexis.laborimport_labtop"/>
        <setEntry value="ch.elexis.laborimport_lg1"/>
        <setEntry value="ch.elexis.laborimport_risch"/>
        <setEntry value="ch.elexis.laborimport_rischbern"/>
        <setEntry value="ch.elexis.laborimport_rothen"/>
        <setEntry value="ch.elexis.laborimport_unilabs"/>
        <setEntry value="ch.elexis.laborimport_unilabs_mittelland"/>
        <setEntry value="ch.elexis.laborimport_viollier"/>
        <setEntry value="ch.elexis.labororder.analytica"/>
        <setEntry value="ch.elexis.labororder.lg1"/>
        <setEntry value="ch.elexis.mediserv"/>
        <setEntry value="ch.elexis.molemax"/>
        <setEntry value="ch.elexis.notes"/>
        <setEntry value="ch.elexis.omnivore"/>
        <setEntry value="ch.elexis.omnivore.data"/>
        <setEntry value="ch.elexis.omnivore.data.tests"/>
        <setEntry value="ch.elexis.omnivore.model"/>
        <setEntry value="ch.elexis.omnivore.ui"/>
        <setEntry value="ch.elexis.omnivoredirect"/>
        <setEntry value="ch.elexis.pdfBills"/>
        <setEntry value="ch.elexis.pdfBills.test"/>
        <setEntry value="ch.elexis.privatrechnung"/>
        <setEntry value="ch.elexis.rezept.zurrose"/>
        <setEntry value="ch.elexis.rezept.zurrose_test"/>
        <setEntry value="ch.elexis.stickynotes"/>
        <setEntry value="ch.elexis.support.dbshaker"/>
        <setEntry value="ch.elexis.tasks.integration.test"/>
        <setEntry value="ch.elexis.timer"/>
        <setEntry value="ch.gpb.elexis.cst"/>
        <setEntry value="ch.itmed.fop.printing"/>
        <setEntry value="ch.itmed.lmz.risch.laborder"/>
        <setEntry value="ch.medelexis.application"/>
        <setEntry value="ch.medelexis.application.imp"/>
        <setEntry value="ch.medelexis.application.product"/>
        <setEntry value="ch.medelexis.application.provisioning"/>
        <setEntry value="ch.medelexis.application.provisioning.test"/>
        <setEntry value="ch.medelexis.galexis"/>
        <setEntry value="ch.medelexis.gcal.sync"/>
        <setEntry value="ch.medelexis.konsliste"/>
        <setEntry value="ch.medelexis.medication.ui"/>
        <setEntry value="ch.medelexis.messaging.ecall"/>
        <setEntry value="ch.medelexis.messaging.ecall.test"/>
        <setEntry value="ch.medelexis.messaging.ecall.ui"/>
        <setEntry value="ch.medelexis.omnivore.ocr.task"/>
        <setEntry value="ch.medelexis.openoffice"/>
        <setEntry value="ch.medelexis.pregnancychecklist"/>
        <setEntry value="ch.medelexis.pregnancychecklist.test"/>
        <setEntry value="ch.medelexis.pregnancychecklist.ui"/>
        <setEntry value="ch.medelexis.rockethealth"/>
        <setEntry value="ch.medelexis.text.templator"/>
        <setEntry value="ch.medelexis.twitter"/>
        <setEntry value="ch.medelexis.xchange"/>
        <setEntry value="ch.medelexis.xchange.test"/>
        <setEntry value="ch.medix.elexis"/>
        <setEntry value="ch.medshare.commons"/>
        <setEntry value="ch.medshare.connect.abacusjunior"/>
        <setEntry value="ch.medshare.connect.abacusjunior.test"/>
        <setEntry value="ch.medshare.elexis_directories"/>
        <setEntry value="ch.medshare.elexis_directories.test"/>
        <setEntry value="ch.medshare.importer.csv"/>
        <setEntry value="ch.medshare.mediport"/>
        <setEntry value="ch.ngiger.utilities.comm"/>
        <setEntry value="ch.novcom.elexis.mednet.plugin"/>
        <setEntry value="ch.pharmed.phmprescriber"/>
        <setEntry value="ch.pharmed.phmprescriber_test"/>
        <setEntry value="ch.priaid"/>
        <setEntry value="ch.priaid.test"/>
        <setEntry value="ch.rgw.utility.tests"/>
        <setEntry value="ch.unibe.iam.scg.archie"/>
        <setEntry value="ch.unibe.iam.scg.archie.samples"/>
        <setEntry value="ch.vality.dicom.viewer"/>
        <setEntry value="ch.weirich.templator.pages"/>
        <setEntry value="com.actavis.medidirect"/>
        <setEntry value="com.hilotec.elexis.kgview"/>
        <setEntry value="com.hilotec.elexis.messwerte.v2"/>
        <setEntry value="com.hilotec.elexis.messwerte.v2_test"/>
        <setEntry value="com.hilotec.elexis.opendocument"/>
        <setEntry value="com.hilotec.elexis.opendocument2omnivore"/>
        <setEntry value="com.hilotec.elexis.pluginstatistiken"/>
        <setEntry value="com.hilotec.elexis.stickerprefix"/>
        <setEntry value="net.medshare.connector.aerztekasse"/>
        <setEntry value="net.medshare.connector.aerztekasse_test"/>
        <setEntry value="net.medshare.connector.viollier"/>
        <setEntry value="net.medshare.connector.viollier_test"/>
        <setEntry value="net.medshare.percentile.v2"/>
        <setEntry value="net.medshare.percentile.v2_test"/>
        <setEntry value="org.apache.solr"/>
        <setEntry value="org.iatrix.bestellung.pharmapool"/>
        <setEntry value="org.iatrix.bestellung.pharmapool_test"/>
        <setEntry value="org.iatrix.bestellung.rose"/>
        <setEntry value="org.iatrix.bestellung.rose_test"/>
        <setEntry value="org.iatrix.help.wiki"/>
        <setEntry value="org.iatrix.messwerte"/>
        <setEntry value="org.osgi.framework.system.packages.extra"/>
        <setEntry value="waelti.statistics"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ch.elexis.core.jpa.entities.test/src/ch/elexis/core/jpa/entities/converter/auto/AllConverterTests.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch.elexis.core.jpa.entities.converter.auto.AllConverterTests"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch.elexis.core.jpa.entities.test"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="ch.elexis.core.application.product"/>
    <booleanAttribute key="run_in_ui_thread" value="false"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="ch.qos.logback.slf4j@default:false"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="com.jcraft.jsch@default:default"/>
        <setEntry value="com.mysql.cj@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="com.sun.mail.jakarta.mail@default:default"/>
        <setEntry value="com.sun.xml.bind@default:default"/>
        <setEntry value="jakarta.persistence@default:default"/>
        <setEntry value="jakarta.ws.rs-api@default:default"/>
        <setEntry value="jakarta.xml.bind@default:default"/>
        <setEntry value="javax.activation@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="javax.transaction@default:false"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.dbcp@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.commons.pool@default:default"/>
        <setEntry value="org.apache.lucene.core@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.gemini.jpa@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.persistence.antlr@default:default"/>
        <setEntry value="org.eclipse.persistence.asm@default:default"/>
        <setEntry value="org.eclipse.persistence.core@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa.jpql@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa@default:default"/>
        <setEntry value="org.eclipse.persistence.oracle@default:false"/>
        <setEntry value="org.glassfish.hk2.osgi-resource-locator@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.jdom@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.postgresql.jdbc@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="osgi.enterprise@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="ch.elexis.core.jpa.entities.test@default:false"/>
        <setEntry value="ch.elexis.core.jpa.entities@default:default"/>
        <setEntry value="ch.elexis.core.jpa.logging.slf4j@default:false"/>
        <setEntry value="ch.elexis.core.l10n@default:default"/>
        <setEntry value="ch.elexis.core.test.logging@default:false"/>
        <setEntry value="ch.elexis.core@default:default"/>
        <setEntry value="ch.rgw.utility@default:default"/>
        <setEntry value="jakarta.xml.bind-api@default:false"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
