<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.core.findings.ui.preferences.FindingsSettings"
            id="ch.elexis.core.findings.ui"
            name="Befunde">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.ui.ViewContribution">
      <detailComposite
            class="ch.elexis.core.findings.ui.viewcontributions.DiagnoseViewContribution"
            viewId="ch.elexis.PatDetail_v2">
      </detailComposite>
      <detailComposite
            class="ch.elexis.core.findings.ui.viewcontributions.PersonalAnamnesisViewContribution"
            viewId="ch.elexis.PatDetail_v2">
      </detailComposite>
      <detailComposite
            class="ch.elexis.core.findings.ui.viewcontributions.RiskViewContribution"
            viewId="ch.elexis.PatDetail_v2">
      </detailComposite>
   </extension>

</plugin>
