@charset "UTF-8";
/* CSS Document */

body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", "DejaVu Sans", "Verdana", sans-serif;
  line-height: 150%;
}

#wrap{
  margin: 1em auto 2em auto;
  text-align: left;
  width: 65em;
}

#header .tagline {
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 0.6em;
  right: 3em;
}

h1 {
	font-weight: normal;
	font-size: 24px;
}

#container {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

#intro {
	clear: both;
	font-size: 12px;
}

#download-header {
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	height: 24px;
	line-height: 24px;
}

/* Releases */

#release-main {
  background: #00FFFF;
	padding: 10px 10px 10px 10px;
	list-style: none;
	clear: both;
	margin: 0;
  border-radius: 10px;
}


.download-module {
	float: left;
	width: 50%;
}

.download-module li {
	padding: 2px 0 0 0;
	margin: 0;
}

.download-header {

	padding-top: 20px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 2px;
}

