@charset "UTF-8";
/* CSS Document */

body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", "DejaVu Sans", "Verdana", sans-serif;
  line-height: 150%;
}

#wrap{
  margin: 1em auto 2em auto;
  text-align: left;
  width: 65em;
}

#header .tagline {
  float: right;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 0.6em;
  right: 3em;
}

h1 {
	font-weight: normal;
	font-size: 24px;
}

h3 {
	font-size: 11px;
	color: #444444;
	clear: both;
}

h4 {
	font-size: 10px;
	color: #6c6c6c;
}

#container {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

#intro {
	clear: both;
	font-size: 12px;
}

#download-header {
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
	height: 24px;
	line-height: 24px;
}

#modules-main {
	padding: 30px 0 0 0;
	list-style: none;
	clear: both;
	margin: 0;
}

#modules-main li {
	width: 33%;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
}

#modules-main div {
	height: 34px;
	background: url(images/button-l.gif) no-repeat left center;
	font-weight: normal;
	width: 190px;
	float: left;
	text-align: center;
}

#modules-main a {
	color: #000;
	text-decoration: none;
	background:url(images/button-r.gif) no-repeat right top;
	padding: 10px 16px 10px 8px;
	margin-left: 8px;
	font-size: 12px;
	display: block;
}

.module-header {
	padding-top: 60px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 2px;
	width: 99%;
}

.module {
	width: 33%;
	float: left;
}

.module ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 12px;
}	

.popular {
	font-size: 10px;
	font-weight: bold;
	color: #2aaa2d;
}


/* Releases */

#release-main {
	padding: 30px 0 0 0;
	list-style: none;
	clear: both;
	margin: 0;
}

#release-main li {
	width: 50%;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
}

#release-main div {
	height: 34px;
	background: url(images/button-l.gif) no-repeat left center;
	font-weight: normal;
	width: 290px;
	float: left;
	text-align: center;
}

#release-main a {
	text-decoration: none;
	background:url(images/button-r.gif) no-repeat right top;
	padding: 10px 8px 10px 0;
	margin-left: 8px;
	font-size: 12px;
	display: block;
}


.download-module {
	float: left;
	width: 50%;
}

.download-module ul {	
	list-style: disc;
	font-size: 12px;
	margin: 0;
	padding: 0 0 0 20px;
}

.download-module li {
	padding: 2px 0 0 0;
	margin: 0;
}

.download-header {

	padding-top: 60px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 2px;
}

