name: Java CI with Maven

env:
  TARGET: '2023-09-java17'

on:
  push:
     branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Build Image
      run: docker pull ghcr.io/elexis/docker-build:${{ env.TARGET }}
    - name: Build with Docker
      run:  docker run --rm --init -v "$(pwd)":/usr/src/mymaven -w /usr/src/mymaven ghcr.io/elexis/docker-build:${{ env.TARGET }} xvfb-run mvn -V clean verify -B
