<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="ch.elexis.core.ui.FremdDatenImport">
      <importer
            Class="ch.elexis.importers.KontaktImporter"
            name="Kontakte">
      </importer>
      <importer
            Class="ch.elexis.importers.GenericImporter"
            name="Allgemein">
      </importer>
   </extension>
</plugin>
