<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
        <e4view
            allowMultiple="true"
            category="ch.elexis.core.ui.eenv.category"
            class="ch.elexis.core.ui.eenv.part.BookstackPart"
            icon="rsc/bookstack.png"
            id="ch.elexis.core.ui.eenv.part.bookstackpart"
            name="Bookstack"
            restorable="true">
      </e4view>
      <category
            id="ch.elexis.core.ui.eenv.category"
            name="Elexis-Environment">
      </category>
   </extension>


</plugin>
