<!-- Copyright (c) 2012 Niklaus Giger <niklaus.giger@member.fsf.org>. All 
	rights reserved. This program and the accompanying materials are made available 
	under the terms of the Eclipse Public License v1.0 which accompanies this 
	distribution, and is available at http://www.eclipse.org/legal/epl-v10.html 
	Contributors: Niklaus Giger <niklaus.giger@member.fsf.org> - initial API 
	and implementation See also http://logback.qos.ch/documentation.html especially 
	http://logback.qos.ch/manual/configuration.html The file (ch.elexis.core.logging.feature/logback.xml) 
	is used when Elexis is started from the commandline, where it was copied 
	along the executable. When you edit here while Elexis is running, the changes 
	will take effect immediately. Keep in mind. When running from IDE it has 
	no effect. It overrides the defaults specified here (ch.elexis.core.logging.default_configuration/rsc/logback.xml). -->
<configuration scan="true">

	<contextName>elexis</contextName>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/elexis/logs/elexis-3.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>10</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<fileNamePattern>${user.home}/elexis/logs/elexis-%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>25MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="OSGI" level="WARN" /> <!-- OsgiSl4fjLoggingAdapter -->
	<logger name="PLATFORM" level="INFO" /> 
	
	<logger name="org.eclipse.jetty.ee10" level="DEBUG" />
	<logger name="org.eclipse.persistence" level="WARN" />
	<logger name="org.apache" level="INFO" />
	<logger name="ch.qos.logback" level="INFO" />
	<logger name="liquibase" level="WARN" />
	<logger name="liquibase.util" level="WARN" />
	<logger name="liquibase.executor" level="WARN" />
	<logger name="org.apache.commons.httpclient" level="WARN" />
	<logger name="ca.uhn.fhir" level="INFO" />
	<logger name="org.docx4j" level="WARN" />
	<logger name="httpclient.wire" level="WARN" />
	<logger name="Framework Event Dispatcher" level="WARN" />
	<logger name="ch.qos.logback.classic.joran.action.LoggerAction"
		level="INFO" />
	<logger name="ca.uhn.hl7v2.parser" level="INFO" />
	<logger name="at.medevit.elexis.loinc.model" level="INFO" />
	<logger name="ch.elexis.data" level="WARN" />
	<logger name="ch.elexis.core" level="INFO" />
	<logger name="jcifs" level="INFO" />

	<root level="${root.level:-DEBUG}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</root>

</configuration>
